.row-view {
    padding-bottom: 5px;
    border-bottom: solid 1px #e7eaec;
    margin-bottom: 10px;
}

.row-view-black {
    padding-bottom: 5px;
    border-bottom: solid 1px black;
    margin-bottom: 10px;
}

$brand-colors: ("new", #0680FF),
("edit", #F99500),
("delete", #F50404),
("save", #2C9D05),
("cancel", #F50404),
("refresh", #0680FF),
("post", #424242),
("cancelnew", #a5a0a0),
("default", #FFCC00),
("back", #999999),
("back2", #d4d7d8),
("yellow", #F2C94C),
("hoonian", #4A93B3),
("red", #EB5757),
("login", #D6AA03),;

.btn {
    padding: 2px 10px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    // border-radius: 0.2rem !important;
    border-radius: 0rem !important;
    // margin: 5px !important;
    margin-right: 5px !important;
    // width: 100%;
    // height: 40px;

    @each $color in $brand-colors {
        &.btn--#{nth($color,1)} {
            background-color: nth($color, 2);
            color: #171717;
            border: 1px solid nth($color, 2);

            svg {
                color: #171717;
            }

            &:hover {
                background-color: nth($color, 2);
                color: #171717;
                border: 1px solid nth($color, 2);

                svg {
                    color: #171717;
                }
            }
        }
    }
    &--height-40 {
        @extend .btn;
        height: 40px;
        margin-right: -5px !important;
    }
    &--outline {
        @extend .btn;
        background: transparent !important;
    }
}