@media screen and (max-width: 680px){
    .ABSTabs{
        margin-top: 80px !important;
    }

    #AbsInputTest .v-select .selected-tag{
        margin: 9px 2px 0 !important;
      }
    //   s
    ul.pagination {
        margin-top: 0px;
    }
    .custom-select{
        width: 43% !important;
    }
}