@media screen and (max-width: 863px){
    .custom-select{
    // display: inline-block;
    width: 40% !important;
    // height: calc(2.25rem + 2px);
    // padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    // line-height: 1.5;
    // color: #495057;
    // vertical-align: middle;
    // background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right 0.75rem center;
    // background-size: 8px 10px;
    // border: 1px solid #ced4da;
    // border-radius: 0.25rem;
    // -webkit-appearance: none;
    }
} 