@media screen and (max-width: 360px) {
  .absolute-connection-wrapper .content-app__body {
    // padding: 15px;
    padding-top: 85px;
    font-size: 11px;
  }

  .content-app-form__body {
    // padding-top: 150px !important;
  }

  .lbl-col-align {
    text-align: left !important;
  }

  // .ABSTabs{
  //     // background: white !important;
  //     // margin-top: 90px !important;
  //     // margin-left: 12px !important;
  //     // margin-right: 12px !important;
  //     // box-shadow: 3px 3px #c1c1c1 !important;
  //     &__active{
  //         margin-top: 90px !important;
  //     }

  //   }

  .bColMasterForm {
    margin-left: 15px !important;
    // margin-right: 27px !important;
  }

  .search-toolbar {
    // max-width: 85% !important;
    // padding-bottom: 10px !important;
  }

  // .abs-login__box-position-right .box-layer-form .box-login-form{
  //   width: 350px;
  //   padding: 15px;
  //   margin-left: 2%;
  //   margin-top: 38%;
  // }

  // .modal-customize-abs__modal-header--title {
  //   width: 91% !important;
  // }

  .nav-tabs {
    width: 85%;
  }

  .absolute-connection-wrapper .sidebar-app::-webkit-scrollbar {
    width: 0px;
  }

  .lbl-text-form {
    padding-top: 10px;
  }

  .block-scope-container {
    height: 72% !important;
    // height: 450px !important;
  }

  // .absolute-connection-wrapper .header--content{
  //   position: fixed;

  // }

  .fab {
    z-index: 10;
    width: 60px;
    height: 60px;
    background-color: #55b3ff;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    transition: all 0.1s ease-in-out;

    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 60px;

    position: fixed;
    right: 20px;
    bottom: 18px;
    cursor: pointer;
  }

  .fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
  }

  .col-p-1 {
    max-width: 30% !important;
  }

  .col-p-2 {
    max-width: 30% !important;
  }

  .col-p-3 {
    max-width: 40% !important;
  }

  .col-a-1 {
    // max-width: 50% !important;
  }

  .col-a-2 {
    max-width: 25% !important;
  }

  .col-a-3 {
    max-width: 25% !important;
  }
}