.icon-style {
    &-default {
        color: #2D9CDB;
    }

    &-danger {
        color: red;
    }

    &-success {
        color: #00cc33;
    }

    &-hoonian {
        color: #2D9CDB;
    }

    &-searchIconLeft {
        color: #2D9CDB !important;
        position: absolute !important;
        // left: 17px !important;
        top: 0 !important;
        display: inline-block;
        cursor: pointer !important;
        // margin-right: 0px !important;
        // height: 13px !important;
        margin-top: 13px !important;
        // margin-right: 743px !important
    }
}