.nav-tabs {
    height: 34px !important;
    width: 90%;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    white-space: nowrap !important;
    display: -webkit-box !important;
    border-bottom: 0px solid #ddd !important;

    &:focus {
        outline: 0;
    }

    &::-webkit-scrollbar {
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #b7b7b7 !important;
    }
}

.nav-link:hover {
    background: transparent !important;
}

// .nav-tabs .nav-link.active,
// .nav-tabs .nav-item.show .nav-link {
//     border-color: #FFFFFF !important;
// }

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    // height: 36px !important;
    // color: #007bff !important;
    // font-weight: 600;
    // border-color: "#ffffff00""#ffffff00"rgba(0, 123, 255, 0.25) !important;
    // border: 3px solid;
    background-color: #2D9CDB !important;
    color: white !important;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: #FFF !important;
}

// .nav-tabs {
//     border-bottom: 0 !important;
//     height: 44px !important;    
// }

.tabs {
    border-radius: 0px;
    margin-bottom: 20px !important;
}

// .nav-tabs .nav-link.active,
// .nav-tabs .nav-item.show .nav-link {
//     height: 34px !important;
//     color: #007bff !important;
//     font-weight: 600;
//     border-color: '#ffffff00''#ffffff00'rgba(0, 123, 255, 0.25) !important;
//     border: 3px solid;
// }

// a {
//   color:grey !important;
// }

.nav-tabs .nav-link {
    //   // border-color: #007bff !important;
    // border: transparent !important;
    // height: 34px !important;
    // border-top: transparent !important;
    // border-left: transparent !important;
    // border-right: transparent !important;
    // border-top-left-radius: 0rem !important;
    // border-top-right-radius: 0rem !important;

    background-color: #999999 !important;
    width: 81px;
    text-align: center;
}

.nav-link {
    font-size: 13px !important;
    font-family: 'Poppins';
    font-weight: 700;
    font-style: normal;
    color: white !important;

    &:hover {
        color: white !important;
        background-color: #2D9CDB !important;
    }
}

.card-header {
    padding-bottom: 0px !important;
    background-color: #e3e7ee !important;
}