<template>
  <div style="height: 100%; overflow-x: auto;">
    <div class="dashboard-header">
      <b-row style="padding-top: 12px;">
        <b-col style="text-align: left; margin-left: 16px;">
          <span @click="showLogOut" class="dashboard-logout-location">Log Out</span>
        </b-col>
        <b-col style="text-align: right; margin-right: 16px;">
          <img :src="require('@/assets/icon-svg/ic_qrcode_black.svg')" alt="" @click="showQRCode" style="margin-right: 16px; cursor: pointer;">
          <img :src="require('@/assets/icon-svg/ic_site.svg')" alt="" @click="showSite" class="dashboard-logout-location">
        </b-col>
      </b-row>
      <img :src="require('@/assets/icon-svg/ic_police.svg')" alt="">
      <div class="dashboard-title-1">
        PeduliWarga
      </div>
      <div class="dashboard-title-2">
        Program Vaksinasi Polri
      </div>
      <div class="dashboard-title-3">
        Program Vaksin {{getDataUser().site.site_name}}
      </div>
    </div>
    <div style="margin: 0 15px;">
      <b-row align-content="center" style="margin-top: 17px;">
        <template v-for="(menu, index) in listMenu">
          <b-col v-if="menu.is_show" cols="6" :style="`text-align: ${index % 2 == 0 ? 'right': 'left'}; margin-top: 10px; padding-left: 10px !important; padding-right: 10px !important;`" :key="menu.menu_name">
            <img :src="require(`@/assets/icon-svg/${menu.icon}.svg`)" alt="" @click="showMenu(menu.link)" style="cursor: pointer;">
            <div :style="`position: absolute; width: 62px; top: 0; ${index % 2 == 0 ? 'right: 0; margin-right: 15px;': 'left: 0; margin-left: 97px;'} margin-top: 5px; border: 1px solid #FFCC00; box-sizing: border-box; border-radius: 6px; text-align: center; font-weight: 700; font-size: 14px;`">
              {{menu.count}}
            </div>
          </b-col>
        </template>
      </b-row>
      <b-row style="text-align: center;">
        <b-col style="margin-top: 10px;">
          <img :src="require('@/assets/icon-svg/ic_data_center.svg')" alt="" @click="showDataCenter" style="cursor: pointer;">
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      listMenu: [
        {
          menu_name: "Pendaftaran",
          is_show: true,
          count: 0,
          link: "/Register",
          icon: "ic_pendaftaran",
        },
        {
          menu_name: "Tensi",
          is_show: true,
          count: 0,
          link: "/Tensi",
          icon: "ic_tensi",
        },
        {
          menu_name: "Screening",
          is_show: true,
          count: 0,
          link: "/Screening",
          icon: "ic_screening",
        },
        {
          menu_name: "Vaksin",
          is_show: true,
          count: 0,
          link: "/Vaksin",
          icon: "ic_vaksin",
        },
        {
          menu_name: "Observasi",
          is_show: true,
          count: 0,
          link: "/Observasi",
          icon: "ic_observasi",
        },
        {
          menu_name: "Upload Data",
          is_show: true,
          count: 0,
          link: "/UploadData",
          icon: "ic_upload_data",
        },
      ],
      count: 0,
    };
  },
  computed: {},
  methods: {
    showLogOut() {
      this.doClearLocalStorage();
      this.$router.replace({
        path: '/sign-in'
      });
    },
    showMenu(link) {
      this.$router.push(link);
    },
    showQRCode() {
      this.$router.push("/ScanQRCode");
    },
    showSite() {
      this.$router.push("/Site");
    },
    showDataCenter() {
      this.$router.push("/DataCenter");
    },
  },
  mounted() {
    const param = {
      site_id: this.getDataUser() == undefined ? '' : this.getDataUser().site.site_id,
    };

    this.postJSON(this.url + 'get-dashboard-data-count', param).then(response => {
      if (response == null) return;
      const data = response.data;

      this.listMenu[0].count = data.registration;

      this.listMenu[1].count = data.tension;
      this.listMenu[1].is_show = this.getDataUser().site.is_show_menu_tension;

      this.listMenu[2].count = data.screening;
      this.listMenu[2].is_show = this.getDataUser().site.is_show_menu_screening;

      this.listMenu[3].count = data.vaccinate;
      this.listMenu[3].is_show = this.getDataUser().site.is_show_menu_vaccine;

      this.listMenu[4].count = data.observed;
      this.listMenu[4].is_show = this.getDataUser().site.is_show_menu_observing;

      this.listMenu[5].count = data.upload;

      for (let i = this.listMenu.length - 1; i >= 0; i--) {
        if (!this.listMenu[i].is_show) {
          this.listMenu.splice(i, 1);
        }
      }
    });
  },
  created() {
    this.$store.commit("setParamPage", {});
  }
};
</script>