<template>
  <div style="height: 100%; overflow-x: auto; background-color: #FFCC00;">
    <div style="color: white; text-align: center; margin-top: 50px;">
      <img :src="require('@/assets/cube.png')" alt="">
      <div style="font-size: 24px; margin-top: 5px; color: #333333; font-weight: 700; text-shadow: 0.5px 0px;">
        MIT
      </div>
      <div style="font-size: 12px; color: #333333; margin-top: -5px;">
        MIT
      </div>
    </div>
    <div style="margin: 40px 10px; background: #FFFFFF;
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
                border-radius: 18px 18px 27px 18px; padding: 30px 20px;"
    >
      <b-form :data-vv-scope="'FormEntry'" :data-vv-value-path="'FormEntry'">
        <b-row>
          <b-col>
            <label style="font-family: Poppins !important; margin-bottom: 0px; color: #828282; font-size: 14px;">Username</label>
            <ACCTextBox
              :prop="PI_username"
              v-model="Model.username"
              ref="ref_username"
            />
            <img style="position: absolute; top: 40px; right: 17px;"
              :src="require('@/assets/icon-svg/clear.svg')"
              :style="'cursor: pointer;'"
              @click="clearUsername"
              alt />
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <label style="font-family: Poppins !important; margin-bottom: 0px; color: #828282; font-size: 14px;">Password</label>
            <ACCTextBox
              :prop="PI_password"
              v-model="Model.password"
              ref="ref_password"
            />
            <img style="position: absolute; top: 40px; right: 17px;"
              :src="require('@/assets/icon-svg/clear.svg')"
              :style="'cursor: pointer;'"
              @click="clearPassword"
              alt />
          </b-col>
        </b-row>
        <b-row style="margin-top: 95px;">
          <b-col>
            <ABSButton
              :text="'Login'"
              classButton="btn btn--login"
              classIcon="icon-style-1"
              styleButton="width: 100%; height: 40px; font-size: 14px !important; color: white; border-radius: 5px !important;"
              @click="login"
            />
          </b-col>
        </b-row>
      </b-form>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      Model: {
        username: "",
        password: "",
      },
      PI_username: {
        cValidate: "required",
        cName: "Username",
        cOrder: 1,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_password: {
        cValidate: "required",
        cName: "Password",
        cOrder: 2,
        cKey: false,
        cType: "password",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new"
      },
    };
  },
  computed: {},
  methods: {
    clearUsername() {
      this.Model.username = '';
    },
    clearPassword() {
      this.Model.password = '';
    },
    login() {
      this.$validator._base
      .validateAll("FormEntry")
      .then((result) => {
        if (!result) return;
        this.$validator.errors.clear("FormEntry");
        this.M_Save();
      });
    },
    M_Save() {
      let param = {
        username: this.Model.username,
        password: this.Model.password,
        // username : "mor_2314",
        // password : "83r5^_"
      };

      this.postJSON('https://fakestoreapi.com/auth/login', param, false, false).then((response) => {
        if (response == null) return;
        console.log(response.token);
        const res = response.token;
        localStorage.lsDataUser = JSON.stringify(res);
        localStorage.lsSession = JSON.stringify({token: res});
        this.$router.push("/dashboard");
      });
    },
  },
  mounted() {
  },
  created() {
    this.$store.commit("setParamPage", {});
  }
};
</script>