<template>
  <div class="abs-login">
    <div class="abs-login__box-position-left bgc-login" style="min-height: 800px; height: 100%;">
      <div class="box-layer-form" style="width:100%; height: 83%; margin-right: 20px; position: absolute; top: 5%; min-height: 600px">
        <div class="row" style="height: 100%; margin-left: 20px !important;">
          <!-- <div class="col display-only-landscape">
            <img :src="require('@/assets/icon-svg/lrt-logo-black.svg')" alt style="width: 100%; top: 40% !important;" class="center" />
          </div> -->
          <!-- <div class="col display-only-landscape" style="background-color: #FFFF; border-radius: 10px 10px 100px 10px;">
            <div class="box-layer-form">
              <div class="box-login-form center" style="width: 70%;">
                <b-form @submit.prevent="onSubmit">
                  <div class="form-label-group text-field-position">
                    <input
                      v-model="userName"
                      type="text"
                      id="inputUsername"
                      class="form-control clear-input"
                      placeholder="Username"
                      autofocus
                      style="height:50px;border-radius:8px !important;font-size:14px !important;font-weight:400;margin-bottom:12px;"
                      required
                    />
                    <span @click="removeUserName">&times;</span>
                  </div>
                  <div class="form-label-group text-field-position">
                    <input
                      v-model="passWord"
                      type="password"
                      id="inputPassword"
                      class="form-control clear-input"
                      placeholder="Password"
                      autocomplete="off"
                      style="height:50px;border-radius:8px !important;font-size:14px !important;font-weight:400;margin-bottom:12px;"
                      required
                    />
                    <span @click="removePassword">&times;</span>
                  </div>
                  <div v-if="captchaTxt">
                    <label
                      style="text-align: center; width: 100%; background-color: cadetblue; border-radius: 5px;"
                      for="captcha"
                    >{{captcha}}</label>
                    <input
                      v-model="captCha"
                      type="text"
                      id="inputCaptcha"
                      class="form-control"
                      placeholder="input captcha"
                      autocomplete="off"
                      style="height:50px;border-radius:8px !important;font-size:14px !important;font-weight:400;margin-bottom:12px;"
                      required
                    />
                  </div>
                  <button
                    class="btn btn-big btn-block"
                    style="background-color: #2D9CDB;height:50px;color:white;border-radius:8px;font-size:14px !important;margin-bottom:5px;"
                    type="submit"
                  >Login</button>
                  <div class="forgot-password" style="text-align:center;">
                    <label
                      @click="showForForgetPassword"
                      for
                      style="font-size:14px !important;color: #2D9CDB; cursor: pointer !important;"
                    >Forgot Password</label>
                  </div>
                </b-form>
                <div style="position: absolute; bottom: 0; text-align: center; left: 50%; transform: translate(-50%, -50%);">
                  <label
                    class="lbl-poppins"
                    @click="doBack"
                    style="font-size:20px !important;color:hsl(240, 49%, 41%); cursor: pointer !important; color: #2D9CDB; font-weight: bold; text-shadow: 0px 0px;"
                  >Back</label>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="col display-only-potrait" style="background-color: #FFFF; border-radius: 10px 10px 100px 10px;"> -->
          <div class="col" style="background-color: #FFFF; border-radius: 10px 10px 100px 10px;">
            <div class="box-layer-form">
                <div style="text-align: center; width: 100%">
                    <img :src="require('@/assets/icon-svg/lrt-logo-black.svg')" alt />
                </div>
              <div class="box-login-form" style="margin: 20px 25px 0 25px;">
                <b-form @submit.prevent="onSubmit">
                <span>
                    <label class="lbl-poppins">{{ $t('username_phone') }}</label>
                </span>
                  <div class="form-label-group text-field-position">
                    <input
                      v-model="userName"
                      type="text"
                      id="inputUsername"
                      class="form-control clear-input"
                      placeholder="Username/Phone No"
                      autofocus
                      style="height:50px;border-radius:8px !important;font-size:14px !important;font-weight:400;margin-bottom:12px;"
                      required
                    />
                    <span @click="removeUserName">&times;</span>
                  </div>
                  <span>
                    <label class="lbl-poppins">{{ $t('password') }}</label>
                </span>
                  <div class="form-label-group text-field-position">
                    <input
                      v-model="passWord"
                      type="password"
                      id="inputPassword"
                      class="form-control clear-input"
                      placeholder="Enter Password"
                      autocomplete="off"
                      style="height:50px;border-radius:8px !important;font-size:14px !important;font-weight:400;margin-bottom:12px;"
                      required
                    />
                    <span @click="removePassword">&times;</span>
                  </div>
                  <div v-if="captchaTxt">
                    <label
                      style="text-align: center; width: 100%; background-color: #2D9CDB; border-radius: 5px;"
                      for="captcha"
                    >{{captcha}}</label>
                    <input
                      v-model="captCha"
                      type="text"
                      id="inputCaptcha"
                      class="form-control"
                      placeholder="input captcha"
                      autocomplete="off"
                      style="height:50px;border-radius:8px !important;font-size:14px !important;font-weight:400;margin-bottom:12px;"
                      required
                    />
                  </div>
                  <button
                    class="btn btn-big btn-block"
                    style="background-color: #2D9CDB;height:50px;color:white;border-radius:8px;font-size:18px !important;margin-bottom:15px;font-weight: bold;"
                    type="submit"
                  >Login</button>
                  <div class="forgot-password" style="text-align:center;">
                    <label
                      @click="showForForgetPassword"
                      for
                      style="font-size:14px !important;color: #2D9CDB; cursor: pointer !important;"
                    >Forgot Password</label>
                  </div>
                  <div class="forgot-password" style="text-align:center;">
                    <label
                      @click="showRegister"
                      for
                      style="font-size:14px !important;color: #2D9CDB; cursor: pointer !important; font-weight: bold;"
                    >Register Account</label>
                  </div>
                </b-form>
                <div style="position: absolute; bottom: 50px; text-align: center; left: 50%; transform: translate(-50%, -50%); width: 100%;">
                  <!-- <div> -->
                    <label
                      class="lbl-poppins"
                      @click="showTermService"
                      style="font-size:14px !important; cursor: pointer !important; color: #2D9CDB; font-weight: bold; text-shadow: 0px 0px;"
                    > {{ $t('tns') }} </label>
                  <!-- </div> -->
                </div>
                <div style="position: absolute; bottom: 0; text-align: center; left: 50%; transform: translate(-50%, -50%);">
                  <!-- <div> -->
                    <label
                      class="lbl-poppins"
                      @click="doBack"
                      style="font-size:20px !important;color:hsl(240, 49%, 41%); cursor: pointer !important; color: rgb(153, 153, 153); font-weight: bold; text-shadow: 0px 0px;"
                    >Back</label>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
          <ABSLoader />
        </div>
      </div>
      <!-- <div class="display-only-potrait" style="position: absolute; text-align: center; bottom: 6%; left: 50%; transform: translate(-50%, -50%);"> -->
      <div class="" style="position: absolute; text-align: center; bottom: 0; left: 50%; transform: translate(-50%, -50%);">
        <label
          style="font-size: 12px !important; color: black;"
        >
          Powered By Hoonian <br>
          Copyright @ 2021
        </label>
      </div>
    </div>
    <ABSModal ref="Register_Dialog" size="lg">
      <template slot="headerTitle"><span style="color: black;">Register</span></template>
      <template slot="content">
        <b-form :data-vv-scope="'FormEntry_RegistForm'" :data-vv-value-path="'FormEntry_RegistForm'">
          <b-row>
            <b-col cols="12" class="noPadding regist-form">
              <b-row @click.stop="onClickTnC" style="margin-bottom: 10px;">
                <b-col style="margin: auto; max-width: fit-content;">
                  <img :src="require('@/assets/icon-svg/info.svg')" alt/> 
                </b-col>
                <b-col style="margin: auto; font-size: 14px; font-weight: bold; color: #2D9CDB;">
                  Register 
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <label class="lbl-bold">{{$t('full_name')}}</label>
                  <ACCTextBox
                    :prop="PI_full_name"
                    v-model="ModelRegist.full_name"
                    ref="ref_full_name"
                  />
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <label class="lbl-bold">{{$t('handphone_no')}}</label>
                  <ACCTextBox
                    :prop="PI_handphone_no"
                    v-model="ModelRegist.handphone_no"
                    ref="ref_handphone_no"
                  />
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <label class="lbl-bold">{{$t('email')}}</label>
                  <ACCTextBox
                    :prop="PI_email"
                    v-model="ModelRegist.email"
                    ref="ref_email"
                  />
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <label class="lbl-bold">{{$t('registered_as')}}</label>
                  <HOODropDown
                    @change="Onregistered_asChange"
                    :prop="PI_registered_as"
                    v-model="ModelRegist.registered_as"
                    :label="ModelRegist.registered_asLabel"
                    ref="ref_registered_as"
                  />
                </b-col>
              </b-row>
            </b-col>
            <b-col cols="12" class="noPadding regist-form">
              <b-row>
                <b-col>
                  <label class="lbl-bold">{{$t('id_no')}} (KTP)</label>
                  <ACCTextBox
                    :prop="PI_id_no"
                    v-model="ModelRegist.id_no"
                    ref="ref_id_no"
                  />
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <span>
                    <label class="lbl-bold">{{ $t('id_picture') }}</label>
                  </span> <br>
                  <b-img v-if="ModelRegist.thumbnail_image && ModelRegist.thumbnail_image !== ''" id="id_pict_show" :src="urlHoonian + ModelRegist.thumbnail_image" alt="" class="regist-img" @error="onImageLoadFailure($event)" />
                  <HOOImageUploadMarketing
                    :prop="PI_id_pict"
                    @change="Onid_pictChange"
                    v-model="ModelRegist.thumbnail_image"
                  />
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <label class="lbl-bold">{{$t('group')}}</label>
                  <HOODropDown
                    @change="OnprincipleChange"
                    :prop="PI_principle"
                    v-model="ModelRegist.principle"
                    :label="ModelRegist.principleLabel"
                    ref="ref_principle"
                  />
                </b-col>
              </b-row>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <label class="lbl-bold">{{$t('notes')}}</label>
              <ACCTextArea
                :prop="PI_notes"
                v-model="ModelRegist.notes"
                ref="ref_notes"
              />
            </b-col>
          </b-row>
          <b-row style="margin-top: 10px;">
            <b-col md="12">
              <ABSButton
                :text="'Register'"
                classButton="btn btn--default"
                classIcon="icon-style-default"
                @click="doRegister"
                styleButton="height: 40px;width: 100%;"
              />
            </b-col>
          </b-row>
          <!-- <b-row style="margin-top: 5px;">
            <b-col style="text-align: center">
              <span @click="showTermService">
                <label class="lbl-poppins" style="font-size: 12px; cursor: pointer;">{{$t('tns')}}</label>
              </span>
            </b-col>
          </b-row> -->
        </b-form>
      </template>
    </ABSModal>
    <ABSModal ref="TNC_Dialog" size="sm">
      <template slot="headerTitle"><span style="color: black;">{{$t('tnc')}}</span></template>
      <template slot="content">
        <template>
          <b-row>            
            <b-col cols="6" style="text-align: center;">
              <img @click.stop="openPdf" :src="require('@/assets/icon-svg/icon_pdf.svg')" alt />
              <br><br>
              <span for="">PDF</span>
            </b-col>
            <b-col cols="6" style="text-align: center;">
              <img @click.stop="openVideo" :src="require('@/assets/icon-svg/icon_video.svg')" alt />
              <br><br>
              <span for="">Video</span>
            </b-col>
          </b-row>
        </template>
      </template>
    </ABSModal>
    <ABSModal ref="previewVideo" size="lg">
      <template slot="headerTitle"><span style="color: black;">{{$t('video')}}</span></template>
      <template slot="content">
        <template>
          <b-row>            
            <b-col cols="12" style="text-align: center;" v-if="register_tutorial_video !== '' || register_tutorial_video !== null">
              <iframe width="100%" height="250px" :src="'https://www.youtube.com/embed/'+  register_tutorial_video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </b-col>
            <b-col cols="12" style="text-align: center;" v-else>
              {{ $t('no_video_available') }}
            </b-col>                        
          </b-row>
        </template>
      </template>
    </ABSModal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      userName: null,
      passWord: null,
      rememberMe: false,
      captchaTxt: false,
      captcha: "",
      captCha: "",

      TNC: [],
      register_tutorial_pdf:"",
      register_tutorial_video:"",
      ModelRegist: {
        full_name: "",
        handphone_no: "",
        email: "",
        registered_as: "",
        registered_asLabel: "",
        id_no: "",
        thumbnail_image: "",
        principle: "",
        principleLabel: "",
        allow_user_common_reg: "N",
        allow_indv_marketing_reg: "N",
        allow_buyer_reg: "N",
        approval_indv_marketing_reg: "N",
        allow_choose_principle: "N",
        regist_approval: false,
        notes: ""
      },
      PI_full_name: {
        cValidate: "required",
        cName: "Full Name",
        cOrder: 1,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry_RegistForm",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_id_no: {
        cValidate: "required",
        cName: "ID No",
        cOrder: 2,
        cKey: false,
        cType: "tel",
        cProtect: false,
        cParentForm: "FormEntry_RegistForm",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_handphone_no: {
        cValidate: "required",
        cName: "Handphone No",
        cOrder: 3,
        cKey: false,
        cType: "tel",
        cProtect: false,
        cParentForm: "FormEntry_RegistForm",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_email: {
        cValidate: "email|required",
        cName: "Email",
        cOrder: 4,
        cKey: false,
        cType: "email",
        cProtect: false,
        cParentForm: "FormEntry_RegistForm",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_id_pict: {
        cValidate: "required",
        cName: "ID Picture",
        cOrder: 5,
        cTitle: this.$t('upload_photo'),
        cType: "id_pict_mkt_regist_form",
        cParentForm: "FormEntry_RegistForm"
      },
      PI_registered_as: {
        dataLookUp: {
          url: "/api/marketing-website/common/dashboard/register-group-lookup",
          param: {
            company_group_id: ''
          }
        },
        cValidate: "required",
        cName: "Registered As",
        ckey: false,
        cOrder: 6,
        cProtect: false,
        cParentForm: "FormEntry_RegistForm",
        cStatic: false,
        cOption: [],
        cDisplayColumn: "",
        cInputStatus: this.inputStatus
      },
      PI_principle: {
        dataLookUp: {
          url: "/api/marketing-website/common/dashboard/group-principle-lookup",
          param: {
            registration_group_id: ''
          }
        },
        cValidate: "required",
        cName: "Principle",
        ckey: false,
        cOrder: 7,
        cProtect: false,
        cParentForm: "FormEntry_RegistForm",
        cStatic: false,
        cOption: [],
        cDisplayColumn: "",
        cInputStatus: this.inputStatus
      },
      PI_notes: {
        cValidate: "max:60",
        cName: "Notes",
        cOrder: 8,
        cKey: false,
        cProtect: false,
        cResize: false,
        cReadonly: false,
        cRows: 3,
        cMaxRows: 3,
        cSize: "md",
        cParentForm: "FormEntry_RegistForm",
        cInputStatus: this.inputStatus
      },
    };
  },
  mounted() {
    this.PI_registered_as.dataLookUp.param.company_group_id = this.company_group_id;
    // clear cookies
    // document.cookie = ""
    // jika dia mau sign-in sedangkan datanya masih ada di localStorage maka push ke dashboard
    if (this.getDataUser() != undefined) {
      this.$router.replace({
        path: "/"
      });
    } else {
      var cookies = document.cookie.split(";");
      if (cookies == "") {
        return;
      }
      for (var i = 0; i < cookies.length; i++) {
        var x = cookies[i].split("=");

        if (x[0].trim() == "username") {
          this.userName = x[1];
        } else if (x[0].trim() == "password") {
          this.passWord = x[1];
        }
      }
      if (this.userName != null || this.passWord != null) {
        this.rememberMe = true;
      }
    }
  },
  methods: {
    onClickTnC() {
      let param = {
        company_group_id: this.company_group_id,
        lang_id: 'en'
      };

      this.postJSON(this.getUrlTnC(), param).then((response) => {
        if (response == null) return;
        this.TNC = response.data;
        this.register_tutorial_pdf = response.data.tutorial.register_tutorial_pdf
        this.register_tutorial_video = response.data.tutorial.register_tutorial_video
      });
      this.$refs.TNC_Dialog._show();
    },
    openPdf(){
      if (this.checkUrlPDF(this.getUserGuideLink()))
        window.open(`/PreviewPDF?pdffile=${this.getUserGuideLink()}`);
      else
        window.open(this.getUserGuideLink());
    },
    getUserGuideLink(){     
      return this.urlHoonian + this.register_tutorial_pdf;    
    },
    openVideo(){
      this.$refs.previewVideo._show();
    },
    doBack() {
      this.$router.replace({ path: "/" });
    },
    removeUserName() {
      this.userName = "";
    },
    removePassword() {
      this.passWord = "";
    },
    showForForgetPassword() {
      this.$router.push("/forget-password");
    },
    showTermService() {
      this.$router.push("/term-service");
    },
    showRegister() {
      this.$validator.errors.clear("FormEntry_RegistForm");
      this.ModelRegist = {
        full_name: "",
        handphone_no: "",
        email: "",
        registered_as: "",
        registered_asLabel: "",
        id_no: "",
        thumbnail_image: "",
        principle: "",
        principleLabel: "",
        allow_user_common_reg: "N",
        allow_indv_marketing_reg: "N",
        allow_buyer_reg: "N",
        approval_indv_marketing_reg: "N",
        allow_choose_principle: "N",
        regist_approval: false,
        notes: ""
      }
      this.$refs.Register_Dialog._show();
    },
    doRegister() {
      this.$validator._base.validateAll("FormEntry_RegistForm").then((result) => {
        if (!result) return;
        this.alertConfirmation("Are You Sure Want To Register?", "Yes", "No", "Register")
        .then(ress => {
        if (ress.value) {
          this.$validator.errors.clear("FormEntry_RegistForm");
          let param = {
            // company_group_id: this.company_group_id,
            // principle_id: this.getDataUser().principle_id
            handphone: this.ModelRegist.handphone_no,
            name: this.ModelRegist.full_name,
            email: this.ModelRegist.email,
            id_no: this.ModelRegist.id_no,
            thumbnail_image: this.ModelRegist.thumbnail_image,
            mobile_app_user_id: this.ModelRegist.mobile_app_user_id,
            principle_id: this.ModelRegist.principle,
            register_as: this.ModelRegist.registered_as,
            company_group_id: this.company_group_id,
            notes: this.ModelRegist.notes
          };

          this.postJSON(this.getUrlRegister(), param).then((response) => {
            if (response == null) return;
            if (response.message == 'Duplicate phone number or email or ID number found!') {
              this.alertInfo(response.message).then(() => {});
            }
            else {
              if (this.ModelRegist.regist_approval) {
                this.alertSuccess('Waiting for Admin Approval').then(() => {});
              }
              else {
                this.alertSuccess(this.$t('please_check_your_email_for_your_password')).then(() => {});
              }
            }
            // let data = response.data;
            // this.ModelProject = data;

            // this.$nextTick(() => {
            //   this.renderList();
            // })
            // this.$forceUpdate();
          });
        }
      });
      });
    },
    Onregistered_asChange(data) {
      this.ModelRegist.registered_as = data.id;
      this.ModelRegist.registered_asLabel = data.label;
      this.ModelRegist.regist_approval = data.registration_approval;
      this.PI_principle.dataLookUp.param.registration_group_id = data.id;
      this.ModelRegist.principle = "";
      this.ModelRegist.principleLabel = "";
      
      if (data.allow_choose_principle) {
        this.PI_principle.cProtect = false;
      }
      else {
        this.PI_principle.cProtect = true;
      }

      if (data.default_principle_id && data.default_principle_id !== '') {
        this.ModelRegist.principle = data.default_principle_id;
        this.ModelRegist.principleLabel = data.principle_name && data.principle_name !== '' ? data.principle_name : '';
        this.OnprincipleChange({id: data.default_principle_id, label: data.principle_name && data.principle_name !== '' ? data.principle_name : ''});
      }
      // if (data.id == 'Marketing') {
      //   if (this.dataRegist.default_individual_principle_id) {
      //     this.ModelRegist.principle = this.dataRegist.default_individual_principle_id;
      //     this.ModelRegist.principleLabel = this.dataRegist.default_individual_principle_name;
      //     this.OnprincipleChange({id: this.dataRegist.default_individual_principle_id, label: this.dataRegist.default_individual_principle_name});
      //   }

      //   if (!this.dataRegist.allow_choose_principle) {
      //     this.PI_principle.cProtect = true;
      //   }
      //   else {
      //     this.PI_principle.cProtect = false;
      //   }
      // }

      // if (data.id == 'Buyer') {
      //   if (this.dataRegist.default_buyer_principle_id) {
      //     this.ModelRegist.principle = this.dataRegist.default_buyer_principle_id;
      //     this.ModelRegist.principleLabel = this.dataRegist.default_buyer_principle_name;
      //     this.OnprincipleChange({id: this.dataRegist.default_buyer_principle_id, label: this.dataRegist.default_buyer_principle_name});
      //   }

      //   if (!this.dataRegist.allow_choose_buyer_principle) {
      //     this.PI_principle.cProtect = true;
      //   }
      //   else {
      //     this.PI_principle.cProtect = false;
      //   }
      // }

      // if (data.id == 'Employee') {
      //   if (this.dataRegist.default_employee_principle_id) {
      //     this.ModelRegist.principle = this.dataRegist.default_employee_principle_id;
      //     this.ModelRegist.principleLabel = this.dataRegist.default_employee_principle_name;
      //     this.OnprincipleChange({id: this.dataRegist.default_employee_principle_id, label: this.dataRegist.default_employee_principle_name});
      //   }

      //   if (!this.dataRegist.allow_choose_employee_principle) {
      //     this.PI_principle.cProtect = true;
      //   }
      //   else {
      //     this.PI_principle.cProtect = false;
      //   }
      // }
    },
    Onid_pictChange(data) {
      this.ModelRegist.thumbnail_image = data.url;
    },
    OnprincipleChange(data) {
      this.ModelRegist.principle = data.id;
      this.ModelRegist.principleLabel = data.label;
    },
    onImageLoadFailure(event) {
      // event.target.src = require("@/assets/logo_hoonian1.svg");
    },    
    onSubmit() {
      this.$store.commit("setStatusLoader", true);

      let param = {
        UserLog: this.userName,
        PassLog: this.passWord,
        Captcha: this.captCha
      };

      axios
        .post(this.getUrlLogin(), param, {
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json"
          }
        })
        .then(response => {
          // console.log(response)
          this.$store.commit("setStatusLoader", false);
          this.doClearLocalStorage();

          var responses = response.data;
          var error = responses.Error;
          var message = responses.Message;

          var data = responses;

          var dataUser = data.Data.data_user;

          // document.cookie = "googtrans=/en/" + dataUser.default_language;

          if (this.rememberMe) {
            var dataCookie = "username=" + this.userName; // + '; path=/sign-in' + ''
            document.cookie = dataCookie;

            dataCookie = "password=" + this.passWord; // + '; path=/sign-in' + ''
            document.cookie = dataCookie;
          }

          var favoriteMenu = JSON.stringify(data.Data.shorcut_menu);
          var menu = JSON.stringify(data.Data.menu);

          const session = {
            Session_Id: data.Data.token,
            sessionIdle: data.Data.idle
          };

          // set language hardcode
          // dataUser.language = "en";

          localStorage.lsDataUser = JSON.stringify(dataUser);

          localStorage.lsShortcutMenu = favoriteMenu;
          localStorage.lsMenu = menu;

          localStorage.lsSession = JSON.stringify(session);

          // get ACL before to dashboard
          let paramACL = {
            marketing_id: this.getDataUser().marketing_id,
            company_group_id: this.company_group_id,
          };
          this.postJSON(
            this.urlHoonian + "/api/marketing-website/dashboard/login-info-acl",
            paramACL
          ).then((response) => {
            if (response == null) return;

            const dataMarketing = JSON.stringify(response.data.data_marketing);
            const webMenuACL = JSON.stringify(response.data.web_menu_acl);

            localStorage.dataMarketing = dataMarketing;
            localStorage.webMenuACL = webMenuACL;

            this.$router.push("/MK_Dashboard");
            location.reload();
          });
          // }
        })
        .catch(err => {
          this.$store.commit("setStatusLoader", false);
          this.alertError(err.response.data.Message);

          this.captcha = err.response.data.Data.Captcha;

          if (this.captcha == "" || this.captcha == undefined) {
            this.captchaTxt = false;
          } else {
            this.captchaTxt = true;
          }
        });
    },
  }
};
</script>

<style scoped>
/* .btn-login {
  background-color: #55b3ff;
  color: #ffffff;
} */
.vue-treeselect__control {
  border-radius: 0px;
}
/* ::placeholder {
  color: white !important;
} */

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column-left {
  text-align: center;
  float: right;
  width: 50%;
  padding: 10px;
  /* height: 250px; Should be removed. Only for demonstration */
}

.column-right {
  float: left;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  width: 384px;
  margin: unset;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.clear-input {
  display: inline-block;
  height: 50px;
  width: 100%;
  font-size: 15px;
  color: #666666;
  padding-right: 2rem;
}

.text-field-position {
  position: relative;
}

.text-field-position span {
  position: absolute;
  right: 1em;
  top: 0;
  bottom: 0;
  line-height: 50px;
  cursor: pointer;
}

.lbl-poppins {
  font-family: Poppins !important;
  font-size: 15px;
  font-weight: bold;
  color: #2D9CDB;
}

/* @media all and (orientation:landscape) {
  .display-only-potrait {
    display: none;
  }

  .display-only-landscape {
    display: block;
  }
}
@media all and (orientation:portrait) {
  .display-only-potrait {
    display: block;
  }

  .display-only-landscape {
    display: none;
  }
} */
</style>
