<template>
  <div id="ACCImageUpload">
    <div v-if="prop.cIconPhoto" style="background: #FFFFFF; border: 1px solid rgba(45, 71, 175, 0.15); box-sizing: border-box; height: 180px; cursor: pointer" @click="onClick">
      <img v-if="!value && value == ''" :src="require('@/assets/icon-svg/ic_camera.svg')" alt="" style="display: block; margin: auto; margin-top: 35px;">
      <b-img
        style="height: 180px; width: 100%"
        v-if="value && value !== ''"
        id="id_pict_show"
        :src="urlImage + value"
        alt=""
        @error="onImageLoadFailure($event)" />
    </div>
    <template v-else>
      <label
        :tabindex="prop.cOrder"
        v-show="!prop.cProtect"
        :class="{'error-text-field': errors.has(prop.cParentForm+'.'+prop.cName), 'poppins': true}"
        v-if="prop.cIcon == undefined || prop.cIcon == null || prop.cIcon == ''"
        :for="'acc_image_upload_' + prop.cName"
        :style="'color: gray; width: 100%; text-align: center;border-radius: 5px; margin-top: 10px;border: 1px solid gray; display: inline-block; padding: 6px 12px; cursor: pointer;' + prop.cStyle"
      >{{prop.cTitle}}</label>
      <font-awesome-icon
        v-else
        v-show="!prop.cProtect"
        :tabindex="prop.cOrder"
        :icon="prop.cIcon"
        class="icon-style-default"
        :size="prop.cIconSize"
        style="cursor: pointer;"
        @click="onClick"
      />
    </template>
    <b-form-file
      v-validate="prop.cValidate"
      v-bind:data-vv-name="prop.cName"
      :id="'acc_image_upload_' + prop.cName"
      :ref="'ref_image_upload_' + prop.cName"
      @change="fileChanged"
      :accept="prop.cAccept"
      v-model="value"
      :state="Boolean(value)"
      :disabled="prop.cProtect"
      style="display: none;"
      :required="isRequired"
    />
    <span
      v-show="errors.has(prop.cParentForm+'.'+prop.cName)"
      class="error-span"
    >{{ errors.first(prop.cParentForm+'.'+prop.cName) }}</span>
  </div>
</template>

<script>
export default {
  props: {
    prop: {
      cValidate: String,
      cName: String,
      cOrder: Number,
      cAccept: String,
      cTitle: String,
      cType: String,
      cStyle: String,
      cIcon: String,
      cIconSize: String,
      cProtect: Boolean,
      cParentForm: String,
      cIconPhoto: Boolean,
    },
    value: String,
  },
  data() {
    return {
      isRequired: false,
    };
  },
  computed: {},
  methods: {
    onClick(){
      document.getElementById('acc_image_upload_' + this.prop.cName).click()
    },
    fileChanged(e) {
      let maxSize = 10;
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      }

      var numb = files[0].size / 1024 / 1024;
      numb = numb.toFixed(2);
      if (numb > maxSize) {
        this.alertError("File size cannot be more than " + maxSize + " MB");
        return;
      }
      this.M_upload(files[0]);
    },
    M_upload(fl) {
      let formData = new FormData();
      formData.append("type", this.prop.cType);
      formData.append("image", fl);

      this.$store.commit('setStatusLoader', true)
      axios
        .post(this.url + 'upload-pic', formData, {
          headers: {
            "Content-Type": "multipart/form-data",
            Accept: "application/json",
            Authorization: 'Bearer ' + (this.getSession() == undefined ? '': this.getSession().token),
          }
        })
        .then(response => {
          this.$store.commit('setStatusLoader', false)
          var data = response.data;
          if (data.Error === true) {
            this.alertError(data.Message);
          } else {
            this.$emit("input", data.data.url);
            this.$emit("change", data.data);
          }
        })
        .catch(err => {
          console.log(err);
          this.$emit("change", null);
          this.$store.commit('setStatusLoader', false)
        });
    }
  },
  created() {
    if (this.prop.cAccept == undefined) {
      this.prop.cAccept = ".jpg, .png, .gif";
    }

    this.prop.cStyle = this.prop.cStyle ? this.prop.cStyle : "";

    if (this.prop.cValidate !== undefined && this.prop.cValidate !== null && this.prop.cValidate !== '' && this.prop.cValidate) {
      var str_array = this.prop.cValidate.split('|')
      for (var i = 0; i < str_array.length; i++) {
        var s = str_array[i].split(':')
        if(s[0] == 'required') {
          this.isRequired = true
        }
      }
    }
    else {
      this.prop.cValidate = false
    }
  },
  mounted() {}
};
</script>

<style lang="scss" scoped>
</style>