<template>
  <embed id="pdf_embed_comp" :src="pdfFile" height="100%" width="100%" />
</template>

<script>
  export default {
    props: {
    },
    methods: {
    },
    data() {
      return {
        pdfFile: '',
      }
    },
    methods: {
    },
    mounted() {
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const pdf = urlParams.get('pdffile')
      this.pdfFile = `https://drive.google.com/viewerng/viewer?embedded=true&url=${pdf}`;
      let ebd = document.getElementById('pdf_embed_comp');
      ebd.src = this.pdfFile;
      this.$forceUpdate();
    },
  }
</script>

<style scoped>
</style>