.content-app {
  float: left;
  height: 91%;
  padding-left: 180px;
  // padding-left: 55px !important;
  overflow-y: auto;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
  background: #FFFFFF;

  &__body {
    padding: 15px;
    padding-top: 60px;
    font-size: 11px;
    margin-bottom: 50px;
  }
  // margin-top: 56px;
  // height: 92%;

  // float: left;
  // // height: 98%;  
  // padding-left: 180px;
  // // padding-left: 55px !important;
  // overflow-y: auto;
  // max-width: 100%;
  // overflow: hidden;
  // width: 100%;
  // position: relative;
  // // background: #55b3ff;
  // // background: #FFFFFF;
  // background: #F4F6FA;

  // &__body {
  //   padding: 15px;
  //   padding-top: 60px;
  //   font-size: 11px;
  //   margin-bottom: 50px;
  // }
}

.content-app-form {
  float: left;
  background-color: #FFFFFF;
  height: 95%;
  margin-top: 3.1em;
  // padding-left: 180px;
  overflow-y: auto;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
  position: relative; 

  &__body {
    height: 100%;
    margin-top: -32px;
    font-size: 11px;
  }
}

.content-app-form-report {
  float: left;
  background-color: #FFFFFF;
  // height: 95%;
  margin-top: 3.1em;
  // padding-left: 180px;
  overflow-y: auto;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
  position: relative; 

  &__body {
    // height: 100%;
    margin-top: -32px;
    font-size: 11px;
  }
}

.form-process{
  background-color: white;
  // padding-top: 33px !important;
  margin-left: 10px;
  margin-right: 10px;
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 150px;
  min-width: 290px;
}

.form-report{
  margin-top: -32px;
  background-color: white;
  padding-top: 1px !important;
  margin-left: 15px;
  margin-right: 15px;
  // height: 95%;
  overflow: hidden auto;
  padding-bottom: 1%;
  min-width: 290px;
}

.header--content {
  // width: 97.6%;
  // width: 97.1%;
  // display: inline-block;
  z-index: 77;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 32px;
  // border-bottom: 1px solid #efefef;
  border-bottom: 1px solid #e7eaec;
  min-width: 290px;

  // width: 92%;

  &__title {
    background-color: #FFFFFF;
    padding: 6px 15px;
    font-weight: 600;
    color: #215B7D;
    margin-left: 0px;
  }

  &__breadcrumbs {
    background-color: #F5F5F5;
    padding: 5px 15px;
    font-size: 12px;
    color: $black;
  }
}

.footer--content {
    z-index: 777;
    position: fixed;
    // left: 0;
    bottom: 0px;
    width: 100%;
    // background-color: #FFFFFF;
    color: white;
    text-align: right;
    border-top: 1px solid rgb(204, 204, 204);
    
    &__title {
      background-color: #FFFFFF;
      padding: 6px 15px;
      font-weight: 600;
      color: #215B7D;
      margin-left: 0px;
    }
}

.push-left {
  padding-right: 175px;
}

.wrapper-last-edit {
  border: 1px solid rgba(45, 71, 175, 0.15);
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 5px;
  padding: 3px 11px;
  max-width: max-content;
  position: relative;
  display: inline-block;
  top: 1px;
  font-family: Poppins !important;
}

.wrapper-status {
  border: 1px solid rgba(45, 71, 175, 0.15);
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 5px;
  padding: 3px 11px;
  max-width: max-content;
  position: relative;
  display: inline-block;
  top: 1px;
  font-family: Poppins !important;
}

.poppins {
  font-family: Poppins !important;
}

.lbl-poppins {
  font-family: Poppins !important;
  font-size: 15px;
  font-weight: bold;
}

.border-gray {
  border: 1px solid rgba(45, 71, 175, 0.15);
  box-sizing: border-box;
  border-radius: 6px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}