.sidebar-app {
  // background-color: $grey-dark-medium;
  // background-color: rgb(51, 51, 153);
  background-color: #2D9CDB;
  height: 100%;
  // height: 93%;
  float: left;
  position: absolute;
  // position: fixed;
  z-index: 99;
  margin-top: -50px;
  // margin-top: 60px;
  overflow: auto;
  // margin-top: 3.1em;

  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #484642;
    outline: 1px solid slategrey;
  }

  &__divider-favorite {
    display: inline-block;
    width: 100%;
    margin-top: 10px;

    .icon {
      background-color: $grey-dark-medium;
      width: 30px;
      height: 30px;
      color: #FFF;
      float: left;
      margin-left: 8px;
      margin-right: 0px;
      text-align: center;

      i {
        color: #FFF;
      }
    }

    .title {
      background-color: $grey-dark-medium;
      font-size: 10px;
      padding: 5px;
      color: #FFFFFF;
      text-transform: uppercase;
      float: left;
    }

    hr {
      margin-top: 12px;
      margin-bottom: 0px;
      border: 0;
      border-top: 1px solid rgb(61, 61, 61);
    }
  }

  &__hide-text-labels {
    display: inline-block;
    width: 100%;
    padding: 5px;
    color: #7A7A7A;
    cursor: pointer;
    margin-bottom: -5px;

    &:hover {
      background-color: #3d3d3d;
    }

    i {
      float: right;
      right: 0;
      font-size: 10px;
    }
  }

  &__box-menu-fixed {
    display: inline-block;
    width: 100%;

    .list-menus {
      width: 100%;
      display: inline-block;
      cursor: pointer;
      padding: 8px 0px;
      margin-bottom: -6px;

      &:hover {
        background-color: #3d3d3d;
        // background: #fab700;
        background: rgb(61, 61, 61);

        .text {
          span {
            color: $white;
          }
        }
      }

      .icon {
        width: 20px;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 15px;
        float: left;
        text-align: center;

        i {
          font-size: 15px;
          color: #FFF;
        }
      }

      .text {
        float: left;
        width: 72%;

        span {
          font-size: 12px;
          color: #8e8e8e;
          letter-spacing: 1px;
        }
      }
    }
  }

  &__box-menu {
    display: inline-block;
    vertical-align: top;
    // height: 55%;
    // max-height: 75%;
    // max-height: 60%;
    // height: 65%;
    // overflow: auto;

    &::-webkit-scrollbar {
      width: 0.5em;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #484642;
      outline: 1px solid slategrey;
    }

    .list-menus {
      width: 100%;
      display: inline-block;
      cursor: pointer;
      padding: 8px 0px;
      // -webkit-transition: 1s ease-out;
      // -moz-transition: 1s ease-out;
      // -o-transition: 1s ease-out;
      // transition: 1s ease-out;
      margin-bottom: -6px;

      &:hover {
        background-color: #3d3d3d;

        .text {
          span {
            color: $white;
          }
        }

        // background-color: #ec921b;
      }

      .icon {
        width: 20px;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 15px;
        float: left;
        text-align: center;

        img {
          width: 20px !important;
          height: 20px !important;
        }

        i {
          font-size: 15px;
          color: #ffb43a;
          // color:red;
        }

        i:hover {
          color: white !important;
        }

        // i:hover{
        //   color: white;
        // }
      }

      // .icon:hover{
      //   background-color: white !important;
      // }

      .text {
        float: left;
        width: 72%;

        span {
          font-size: 12px;
          color: #8e8e8e;
          letter-spacing: 1px;
        }
      }
    }
  }
}

.big-menu {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 2px 0px;
  max-width: 100%;
  // overflow-x: hidden;
  overflow-x: auto;
  z-index: 88;
  border-top: 1px solid #d7d7d7;

  &__close-button {
    float: right;
    background-color: #c32020;
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;

    &:hover {
      // background-color: $green-ligth;
    }

    i {
      color: $white;
      font-size: 20px;
    }
  }

  &__list-menu {
    width: 200px;
    height: 95%;
    position: absolute;
    display: inline-block;
    float: left;
    background-color: $white;
    margin-top: 50px;

    .title-top {
      font-size: 20px;
      color: #000000;
      padding-bottom: 10px;
      border-bottom: 1px solid #d7d7d7;
      margin: 10px;
      padding: 13px 0;

      span {
        font-weight: 600;
        font-size: 16px;
      }

      i {
        float: right;
        margin-top: 5px;
      }
    }

    .box-lists {
      overflow-y: auto;
      display: block;
      height: 80%;
      position: absolute;

      &::-webkit-scrollbar {
        width: 0.5em;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
      }

      .list {
        float: left;
        width: 100%;
        cursor: pointer;
        margin-bottom: 0;
        padding: 7px 10px;
        // border-bottom: 0.1px solid grey;

        &:hover {
          background-color: rgb(182, 182, 182);
        }

        &__icon-left {
          float: left;
          padding: 0px 10px;

          i {
            font-size: 20px;
            color: #3d3d3d;
          }
        }

        &__name {
          float: left;
          font-size: 14px;
          color: #000000;
        }

        &__icon-right {
          float: right;
          font-size: 14px;
          color: #3d3d3d;
        }
      }
    }
  }

  &__sub-list-menu {
    width: 550px;
    height: 95%;
    display: inline-block;
    position: absolute;
    // float: left;
    margin-left: 200px;
    border-left: 1px solid #d7d7d7;
    background-color: #FFFFFF;
    margin-top: 50px;

    .filtering {
      display: inline-block;
      width: 93%;
      padding-bottom: 10px;
      border-bottom: 1px solid #d7d7d7;
      margin: 15px;

      &__ex-col {
        font-size: 14px;
        color: #000;
        cursor: pointer;
        margin-top: 8px;
        display: inline-block;

        &:hover {
          color: rgb(17, 0, 255);
        }
      }
    }

    .box-lists {
      overflow-y: auto;
      display: block;
      width: 96%;
      height: 80%;
      position: absolute;

      &::-webkit-scrollbar {
        width: 0.5em;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
      }

      .title-top {
        display: inline-block;
        padding: 0px 0px;
        padding-left: 13px;
        padding-right: 10px;
        width: 100%;

        // background-color: #777;
        // color: white;
        // cursor: pointer;
        // padding: 18px;
        // width: 100%;
        // border: none;
        // text-align: left;
        // outline: none;
        // font-size: 15px;

        &:hover {
          background-color: #F5F5F5;
          cursor: pointer;

          span {
            background: #F5F5F5;
          }

          .icon-right {
            background-color: #F5F5F5;
          }
        }

        span {
          font-size: 12px;
          color: #000;
          float: left;
          background: #FFFFFF;
          padding: 0px 0;
          padding-right: 10px;
          margin-top: 5px;
        }

        hr {
          margin-top: 15px;
          margin-bottom: 0;
          border: 0;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
        }

        .icon-right {
          float: right;
          margin-top: -8px;
          background-color: #FFF;
          padding: 0px 0px;
          padding-left: 10px;
          font-size: 10px;
        }
      }

      // .active, .title-top:hover {
      //   background-color: red;
      // }

      .list {
        float: left;
        width: 50%;
        cursor: pointer;
        margin-bottom: 0;
        padding: 5px 10px;
        padding-left: 14px;

        // padding: 0 18px;
        // display: none;
        // overflow: hidden;
        // background-color: #f1f1f1;

        &:hover {
          background-color: #F5F5F5;
        }

        &__icon-left {
          float: left;
          padding: 0px 10px;

          i {
            font-size: 20px;
            color: #3d3d3d;
          }
        }

        &__name {
          float: left;
          font-size: 14px;
          color: #000000;
        }

        &__icon-right {
          float: right;
          font-size: 14px;
          color: #3d3d3d;

          &.is-favorite {
            color: #ff9600;
          }
        }
      }
    }
  }
}

.mg-bottom--sub-list-menu {
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
}