<template>
  <div style="height: 100%; overflow-x: auto; background-color: #2D9CDB;">
    <div style="color: white; text-align: center; margin-top: 50px;">
      <div style="font-size: 24px; margin-top: 5px; color: #FFFFFF;">
        {{ paramFromList.name }}
      </div>
      <div style="font-size: 12px; color: #F2F2F2; margin-top: -8px;">
        {{ paramFromList.nik }}
      </div>
    </div>
    <div style="margin: 40px 10px; background: #FFFFFF;
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
                border-radius: 18px 18px 27px 18px; padding: 30px 20px;"
    >
      <b-form :data-vv-scope="'FormEntry'" :data-vv-value-path="'FormEntry'">
        <b-row>
          <b-col>
            <label style="font-family: Poppins !important; margin-bottom: 0px; color: #2D9CDB; font-size: 14px;">Password</label>
            <ACCTextBox
              :prop="PI_password"
              v-model="Model.password"
              ref="ref_password"
            />
            <img style="position: absolute; top: 40px; right: 17px;"
              :src="require('@/assets/icon-svg/clear.svg')"
              :style="'cursor: pointer;'"
              @click="clearPassword"
              alt />
          </b-col>
        </b-row>
        <b-row style="margin-top: 20px;">
          <b-col cols="6" style="text-align:center">
            <ABSButton
              :text="'Masuk'"
              classButton="btn btn--default"
              classIcon="icon-style-1"
              styleButton="width: 100%; height: 40px; font-size: 14px !important; color: white; border-radius: 5px !important;"
              @click="login"
            />
          </b-col>
          <b-col cols="6" style="text-align:center">
            <ABSButton
                :text="'Kembali'"
                classButton="btn btn--red"
                classIcon="icon-style-1"
                styleButton="width: 100%; height: 40px; font-size: 14px !important; color: white; border-radius: 5px !important;"
                @click="$router.go(-1)"
              />
          </b-col>
        </b-row>
      </b-form>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      Model: {
        password: "",
      },
      PI_password: {
        cValidate: "required",
        cName: "Password",
        cOrder: 2,
        cKey: false,
        cType: "password",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new"
      },
    };
  },
  computed: {
    paramFromList() {
      let param = this.$store.getters.getParamPage;
      return param;
    }
  },
  methods: {
    clearPassword() {
      this.Model.password = '';
    },
    login() {
      this.$validator._base
      .validateAll("FormEntry")
      .then((result) => {
        if (!result) return;
        this.$validator.errors.clear("FormEntry");
        this.M_Save();
      });
    },
    M_Save() {
      let param = {
        site_id: this.getDataUser().site.site_id,
        password: this.Model.password,
      };

      this.postJSON(this.url + 'verify-site-password', param).then((response) => {
        if (response == null) return;
        const res = response.data;

        if (response.data.verified == true) {
          this.$router.push("/EditDataCenter");
        } else {
          alert("Wrong Password");
        }

      });
    },
  },
  mounted() {
  },
  created() {
  }
};
</script>