<template>
  <div>
    <div class="header">
      <b-row>
        <b-col style="padding: unset !important;">
          <img :src="require('@/assets/icon-svg/ic_arrow_left.svg')" alt="" style="margin: 16px; font-size: 12px;" @click="doBack">
          Menu
        </b-col>
        <b-col style="margin-top: 6px; margin-right: 16px; text-align: right; font-size: 24px; font-weight: 700;">
          Data Center
        </b-col>
      </b-row>
    </div>
    <div class="dashboard-page-chart">
      <div class="dashboard-page-chart__body" style="text-align: right; font-size: 24px; font-weight: 700; padding-right: 20px; background-color: white;">
      </div>
      <div style="padding-left: 7px; padding-right: 7px; background: white;">
        <b-row hidden style="background: white; border-bottom: solid 2px #E0E0E0; padding-bottom: 10px;">
          <b-col cols="4">
            <span style="height: 20px; background-color:#F2994A; border-radius: 3px; color: #F2994A;">XX</span>
            Available
          </b-col>
          <b-col cols="4">
            <span style="height: 20px; background-color:#56CCF2; border-radius: 3px; color: #56CCF2;">XX</span>
            On Progress
          </b-col>
          <b-col cols="4">
            <span style="height: 20px; background-color:#27AE60; border-radius: 3px; color: #27AE60;">XX</span>
            Complete
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12" @click="doPendaftaran">
            <div style="font-weight: bold; text-align: center;">Total Pendaftaran</div>
            <div style="height: 50px; background: white; text-align: center; font-size: 36px; font-weight: bold; border: solid 1px #FFCC00">            
              {{ TotalPendaftaran }}
            </div>
          </b-col>        
        </b-row>
        <b-row>
          <b-col cols="6" style="margin-top:20px" @click="doBelumHadir">
            <div style="font-weight: bold; text-align: center;">Belum Hadir</div>
            <div style="height: 50px; background: #8a51e0; text-align: center; font-size: 36px; font-weight: bold;">            
              {{ BelumHadir }}
            </div>
          </b-col>
          <b-col cols="6" style="margin-top:20px" @click="doTungguTensi">
            <div style="font-weight: bold; text-align: center;">Tunggu Tensi</div>
            <div style="height: 50px; background: #56cce0; text-align: center; font-size: 36px; font-weight: bold;">            
              {{ TungguTensi }}
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="6" style="margin-top:20px" @click="doTungguScreening">
            <div style="font-weight: bold; text-align: center;">Tunggu Screening</div>
            <div style="height: 50px; background: #27ae5f; text-align: center; font-size: 36px; font-weight: bold;">            
              {{ TungguScreening }}
            </div>
          </b-col>
          <b-col cols="6" style="margin-top:20px" @click="doTungguVaksin">
            <div style="font-weight: bold; text-align: center;">Tunggu Vaksin</div>
            <div style="height: 50px; background: #f2984a; text-align: center; font-size: 36px; font-weight: bold;">            
              {{ TungguVaksin }}
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="6" style="margin-top:20px" @click="doSelesaiVaksin">
            <div style="font-weight: bold; text-align: center;">Selesai Vaksin</div>
            <div style="height: 50px; background: #5053b1; text-align: center; font-size: 36px; font-weight: bold;">            
              {{ SelesaiVaksin }}
            </div>
          </b-col>
          <b-col cols="6" style="margin-top:20px" @click="doDitolak">
            <div style="font-weight: bold; text-align: center;">Ditolak</div>
            <div style="height: 50px; background: #eb5757; text-align: center; font-size: 36px; font-weight: bold;">            
              {{ Ditolak }}
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12" style="margin-top:20px">
            <div style="font-weight: bold; text-align: center;">Data Upload</div>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="6" style="margin-top:10px">
            <div style="font-weight: bold; text-align: center;">Berhasil</div>
            <div style="height: 50px; background: #E0E0E0; text-align: center; font-size: 36px; font-weight: bold;">            
              {{ Berhasil }}
            </div>
          </b-col>
          <b-col cols="6" style="margin-top:10px">
            <div style="font-weight: bold; text-align: center;">Tidak Berhasil</div>
            <div style="height: 50px; background: #E0E0E0; text-align: center; font-size: 36px; font-weight: bold;">            
              {{ TidakBerhasil }}
            </div>
          </b-col>
        </b-row>
        <b-row style="margin-top: 10px;">
          <b-col cols="12">            
              <b-form-input
                id="txtSearch"
                v-model="search"
                type="text"
                placeholder="Cari Nama atau NIK"
                v-shortkey.focus="['f1']"
                class=""
                @keyup.enter.native="onSearchEnter"
                autocomplete="off"                
                style="height: 42px; background: #F2F2F2;"
              ></b-form-input>
              <img style="position: absolute; top: 14px; right: 12px;"
                :src="search? require('@/assets/icon-svg/clear.svg') : require('@/assets/icon-svg/clear.svg')"
                :style="search? 'cursor: pointer;': ''"
                @click="clearSearch"
                alt />
          </b-col>
        </b-row>
        <template v-for="(data, i) in datas">
          <div v-bind:key="i">            
            <b-row v-if="data.name !== null" :class="i % 2 == 0 ? 'stripe-white' : 'stripe-grey'" @click="goToDetail(data)">
              <b-col cols="3">
                <div :class="data.curr_status == 0 ? 'vaccine-vaksin1': data.curr_status == 1 ? 'vaccine-tensi' : data.curr_status == 2 ? 'vaccine-screening' :  data.curr_status == 3 ? 'vaccine-tungguVaksin' :  data.curr_status == 4 ? 'vaccine-selesaiVaksin' : 'vaccine-tolak1'">
                  {{ String(data.seq_no).padStart(4, '0') }}
                </div>
              </b-col>
              <b-col class="ellipse-text">
                <span>{{ data.name }}</span><br>
                <span>{{ data.nik }}</span>                
              </b-col>
              <b-col cols="1" style="text-align: end; margin: auto;">
                  <img :src="require('@/assets/icon-svg/left.svg')" alt="" style="margin-left: 10px;">
              </b-col>
            </b-row>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      datas: [],
      TotalPendaftaran: '',
      BelumHadir: '',
      TungguTensi: '',
      TungguScreening:'',
      TungguVaksin:'',
      SelesaiVaksin:'',
      Ditolak:'',
      Berhasil:'',
      TidakBerhasil:'',
      search: '',
    };
  },
  computed: {},
  methods: {
    clearSearch() {
      this.search = '';
      this.getDataObservasi();
    },
    onSearchEnter() {
        const data = this.datas;
        const search = this.search;
        const result = data.filter(function(item) {
          return item.name.toLowerCase().indexOf(search.toLowerCase()) > -1 || item.nik.toLowerCase().indexOf(search.toLowerCase()) > -1;
        });
        this.datas = result;
    },
    doBack() {
      this.$router.push("/");
    },
    goToDetail(data) {
      this.$store.commit("setParamPage", data);
      this.$router.push({ name: 'DataCenterForm' });
    },
    doPendaftaran() {
      let param = {
          site_id: this.getDataUser().site.site_id,
          type: 0
        };

        this.postJSON(this.url + 'get-user-data-center-list', param, true).then((response) => {
          if (response == null) return; 
          this.datas = response.data;
        });
    },
    doTungguTensi() {
      let param = {
          site_id: this.getDataUser().site.site_id,
          type: 1
        };

        this.postJSON(this.url + 'get-user-data-center-list', param, true).then((response) => {
          if (response == null) return; 
          this.datas = response.data;
        });
    },
    doTungguScreening() {
      let param = {
          site_id: this.getDataUser().site.site_id,
          type: 2
        };

        this.postJSON(this.url + 'get-user-data-center-list', param, true).then((response) => {
          if (response == null) return; 
          this.datas = response.data;
        });
    },
    doTungguVaksin() {
      let param = {
          site_id: this.getDataUser().site.site_id,
          type: 3
        };

        this.postJSON(this.url + 'get-user-data-center-list', param, true).then((response) => {
          if (response == null) return; 
          this.datas = response.data;
        });
    },
    doSelesaiVaksin() {
      let param = {
          site_id: this.getDataUser().site.site_id,
          type: 4
        };

        this.postJSON(this.url + 'get-user-data-center-list', param, true).then((response) => {
          if (response == null) return; 
          this.datas = response.data;
        });
    },
    doDitolak() {
      let param = {
          site_id: this.getDataUser().site.site_id,
          type: 5
        };

        this.postJSON(this.url + 'get-user-data-center-list', param, true).then((response) => {
          if (response == null) return; 
          this.datas = response.data;
        });
    },
    doBelumHadir() {
      let param = {
          site_id: this.getDataUser().site.site_id,
          type: 8
        };

        this.postJSON(this.url + 'get-user-data-center-list', param, true).then((response) => {
          if (response == null) return; 
          this.datas = response.data;
        });
    },
    doTidakBerhasil() {
      let param = {
          site_id: this.getDataUser().site.site_id,
          type: 7
        };

        this.postJSON(this.url + 'get-user-data-center-list', param, true).then((response) => {
          if (response == null) return; 
          this.datas = response.data;
        });
    },
    getDataHeader(){
      let param = {
        site_id: this.getDataUser().site.site_id
       };

        this.postJSON(this.url + 'get-data-center', param, true).then((response) => {
          if (response == null) return; 
            this.TotalPendaftaran = response.data.registration;
            this.BelumHadir = response.data.waiting_attendance;
            this.TungguTensi = response.data.waiting_tension;
            this.TungguScreening = response.data.waiting_screening;
            this.TungguVaksin = response.data.waiting_vaccinate;
            this.SelesaiVaksin = response.data.done_vaccinate;
            this.Ditolak = response.data.rejected;
            this.Berhasil = response.data.success_upload;
            this.TidakBerhasil = response.data.failed_upload;
        });
    },
    getDataObservasi(){
      let param = {
          type: 4,
        };

        this.postJSON(this.url + 'get-user-status-list', param, true).then((response) => {
          if (response == null) return; 
          this.dataTensi = response.data;
        });
    }    
  },
  mounted() {
    this.doPendaftaran();
    this.getDataHeader();
    this.getDataObservasi();
  },
  created() {
  }
};
</script>