<template>
  <div>
    <div class="header" @click="doBack">
      <img :src="require('@/assets/icon-svg/ic_arrow_left.svg')" alt="" style="margin: 16px;">
      Kembali
    </div>
    <div class="dashboard-page-chart">
      <div class="dashboard-page-chart__body" style="background-color: white;">
        <div style="border: 1px solid rgb(170 172 177); border-radius: 3px; padding: 10px; margin: 10px;">
          <b-row style="margin-bottom: 5px;">
            <b-col cols="5" class="indicator-info">Nama</b-col>
            <b-col cols="7" style="font-weight: bold;"> {{ Nama }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="5" class="indicator-info">NIK</b-col>
            <b-col cols="7"> {{ NIK }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="5" class="indicator-info">No Handphone</b-col>
            <b-col cols="7"> {{ No_HP }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="5" class="indicator-info">Tanggal Lahir</b-col>
            <b-col cols="7"> {{ momentDateFormatting(Tgl_Lahir, "DD MMM YYYY") }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="5" class="indicator-info">Jenis Kelamin</b-col>
            <b-col cols="7"> {{ JenisKelamin == 'M' ? 'Laki-Laki' : 'Perempuan'}} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="5" style="color: #2D9CDB; font-weight: 600;">Tipe Vaksin</b-col>
            <b-col cols="7"> {{ TipeVaksin }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="5" class="indicator-info">Vaksin Primer</b-col>
            <b-col cols="7"> {{ VaksinPrimer }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="5" class="indicator-info">Status</b-col>
            <b-col cols="7"> {{ Status == 0 ? 'Pendaftaran' : Status == 1 ? 'Tunggu Tensi' : Status == 2 ? 'Tunggu Screening' : Status == 3 ? 'Tunggu Vaksin' : Status == 4 ? 'Selesai Vaksin' : Status == 5 ? 'Ditolak' : Status == 6 ? 'Berhasil Upload' : Status == 7 ? 'Gagal Upload' : 'Pendaftaran' }} </b-col>
          </b-row>
        </div>
        <b-form :data-vv-scope="'FormEntry'" :data-vv-value-path="'FormEntry'">
          <div style="margin: 5px;">
            <b-row>
              <b-col cols="12" style="padding-top: 15px; border-bottom: solid 1px gray; padding-bottom: 15px;">
                <b-row>
                    <b-col cols="12" style="text-align: center;">
                      <img
                        id="picture"
                        :src="KTP == null ? require('@/assets/icon-svg/photos.svg') : 'http://103.247.8.101:8095/backend-hoonian/public' + KTP"
                        alt
                        height="200"
                        style="margin: 20px;"
                      /> 
                    </b-col>
                  </b-row> 
              </b-col>
            </b-row>
          </div>
          <div style="margin: 5px;">
            <b-row>
              <b-col cols="6">
                <label class="lbl-bold">Suhu</label>
                <ACCTextBox
                  :prop="PI_Suhu"
                  v-model="Model.Suhu"
                  ref="ref_Suhu"
                />
              </b-col>
              <b-col cols="6">
                <label class="lbl-bold">Tensi Darah</label>
                <ACCTextBox
                  :prop="PI_TensiDarah"
                  v-model="Model.TensiDarah"
                  ref="ref_TensiDarah"
                />
              </b-col>
            </b-row>
          </div>
          <div style="margin: 5px;">
            <b-row>
              <b-col cols="12" style="font-weight: bold;">
                Screening
              </b-col>
            </b-row>
          </div>
          <div style="margin: 5px;">
            <b-row>
              <b-col cols="12" style="text-align: center; border-top: solid 1px gray; padding-top: 15px; border-bottom: solid 1px gray; padding-bottom: 15px;">
                <label class="lbl-bold" style="text-align: center; width: 100%;">Pertanyaan Untuk Vaksinasi-1</label>
                <label style="text-align: center;">
                  Apakah Anda memiliki riwayat alergi berat seperti sesak napas, bengkak dan urtikaria seluruh badan atau reaksi berat lainnya karena vaksin?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan1aChange"
                  :prop="PI_Pertanyaan1a"
                  v-model="Model.Pertanyaan1a"
                  ref="ref_Pertanyaan1"
                />
              </b-col>
            </b-row>
            <b-row>
                <b-col cols="12" style="text-align: center; border-top: solid 1px gray; padding-top: 15px; border-bottom: solid 1px gray; padding-bottom: 15px;">
                  <label class="lbl-bold" style="text-align: center; width: 100%;">Pertanyaan Untuk Vaksinasi-2</label>
                  <label style="text-align: center;">
                    Apakah Anda memiliki riwayat alergi berat setelah divaksin COVID-19 sebelumya?
                  </label>
                  <ACCRadioButton
                    @input="OnPertanyaan1bChange"
                    :prop="PI_Pertanyaan1b"
                    v-model="Model.Pertanyaan1b"
                    ref="ref_Pertanyaan1b"
                  />
                </b-col>
              </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; border-top: solid 1px gray; padding-top: 15px; border-bottom: solid 1px gray; padding-bottom: 15px;">
                <label style="text-align: center;">
                  Apakah Anda sedang hamil?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan2Change"
                  :prop="PI_Pertanyaan2"
                  v-model="Model.Pertanyaan2"
                  ref="ref_Pertanyaan2"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; border-top: solid 1px gray; padding-top: 15px; border-bottom: solid 1px gray; padding-bottom: 15px;">
                <label style="text-align: center;">
                  Apakah Anda mengidap penyakit autoimun seperti asma, lupus?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan3Change"
                  :prop="PI_Pertanyaan3"
                  v-model="Model.Pertanyaan3"
                  ref="ref_Pertanyaan3"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; border-top: solid 1px gray; padding-top: 15px; border-bottom: solid 1px gray; padding-bottom: 15px;">
                <label style="text-align: center;">
                  Apakah Anda sedang mendapat pengobatan untuk gangguan pembekuan darah, kelainan darah, defisiensi imun dan penerima produk darah/transfusi?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan4Change"
                  :prop="PI_Pertanyaan4"
                  v-model="Model.Pertanyaan4"
                  ref="ref_Pertanyaan4"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; border-top: solid 1px gray; padding-top: 15px; border-bottom: solid 1px gray; padding-bottom: 15px;">
                <label style="text-align: center;">
                  Apakah Anda sedang mendapat pengobatan immunosupressant seperti kortikosteroid dan kemoterapi?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan5Change"
                  :prop="PI_Pertanyaan5"
                  v-model="Model.Pertanyaan5"
                  ref="ref_Pertanyaan5"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; border-top: solid 1px gray; padding-top: 15px; border-bottom: solid 1px gray; padding-bottom: 15px;">
                <label style="text-align: center;">
                  Apakah Anda memiliki penyakit jantung berat dalam keadaan sesak?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan6Change"
                  :prop="PI_Pertanyaan6"
                  v-model="Model.Pertanyaan6"
                  ref="ref_Pertanyaan6"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; border-top: solid 1px gray; padding-top: 15px; border-bottom: solid 1px gray; padding-bottom: 15px;">
                <label style="text-align: center;">
                  Apakah Anda mengalami kesulitan untuk naik 10 anak tangga?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan71Change"
                  :prop="PI_Pertanyaan71"
                  v-model="Model.Pertanyaan71"
                  ref="ref_Pertanyaan71"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; border-top: solid 1px gray; padding-top: 15px; border-bottom: solid 1px gray; padding-bottom: 15px;">
                <label style="text-align: center;">
                  Apakah Anda sering merasa kelelahan?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan72Change"
                  :prop="PI_Pertanyaan72"
                  v-model="Model.Pertanyaan72"
                  ref="ref_Pertanyaan72"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; border-top: solid 1px gray; padding-top: 15px; border-bottom: solid 1px gray; padding-bottom: 15px;">
                <label style="text-align: center;">
                  Apakah Anda memiliki paling sedikit 5 dari 11 penyakit (hipertensi, diabetes, kanker, penyakit paru kronis, serangan jantung, gagal jantung kongestif, nyeri dada, asma, nyeri sendi, stroke dan penyakit ginjal)?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan73Change"
                  :prop="PI_Pertanyaan73"
                  v-model="Model.Pertanyaan73"
                  ref="ref_Pertanyaan73"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; border-top: solid 1px gray; padding-top: 15px; border-bottom: solid 1px gray; padding-bottom: 15px;">
                <label style="text-align: center;">
                  Apakah Anda mengalami kesulitan berjalan kira-kira 100 sampai 200 meter?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan74Change"
                  :prop="PI_Pertanyaan74"
                  v-model="Model.Pertanyaan74"
                  ref="ref_Pertanyaan74"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; border-top: solid 1px gray; padding-top: 15px; border-bottom: solid 1px gray; padding-bottom: 15px;">
                <label style="text-align: center;">
                  Apakah Anda mengalami penurunan berat badan yang bermakna dalam setahun terakhir?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan75Change"
                  :prop="PI_Pertanyaan75"
                  v-model="Model.Pertanyaan75"
                  ref="ref_Pertanyaan75"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; border-top: solid 1px gray; padding-top: 15px; border-bottom: solid 1px gray; padding-bottom: 15px;">
                <label style="text-align: center;">
                  Hasil Screening
                </label>
                <ACCRadioButton
                  @input="OnHasilScreeningChange"
                  :prop="PI_HasilScreening"
                  v-model="Model.HasilScreening"
                  ref="ref_HasilScreening"
                />
              </b-col>
            </b-row>
          </div>

          <div style="margin: 5px;">
            <b-row>
              <b-col cols="12" style="font-weight: bold;">
                Hasil Vaksinasi
              </b-col>
            </b-row>
          </div>
          <div style="margin: 5px;">
            <b-row>
              <b-col md="12">
                <span>
                  <label class="lbl-bold">Jenis Vaksin</label>
                </span>
                <HOODropDown
                  @change="OnJenisVaksinChange"
                  :prop="PI_JenisVaksin"
                  v-model="Model.JenisVaksin"
                  :label="Model.JenisVaksinLabel"
                  ref="ref_JenisVaksin"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <label class="lbl-bold">Nomor Batch</label>
                <ACCTextBox
                  :prop="PI_NomorBatch"
                  v-model="Model.NomorBatch"
                  ref="ref_NomorBatch"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="padding-right: unset !important;">
                <label class="lbl-bold">Tanggal Batch</label>
                <ACCDateTime
                  :prop="PI_TanggalBatch"
                  v-model="Model.TanggalBatch"
                  ref="ref_TanggalBatch"
                />
              </b-col>
            </b-row>
            <b-row style="padding-bottom: 10px;">
              <b-col cols="12">
                <label class="lbl-bold">Jam Vaksinasi</label>
                <ACCTime
                    :prop="PI_JamVaksin"
                    v-model="Model.JamVaksin"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">              
                <label>
                  Keluhan
                </label>
                <ACCRadioButton
                  @input="OnKeluhanRbChange"
                  :prop="PI_KeluhanRb"
                  v-model="Model.KeluhanRb"
                  ref="ref_KeluhanRb"
                />
                <ACCTextArea
                :prop="PI_Keluhan"
                v-model="Model.Keluhan"
                ref="ref_Keluhan" />                
              </b-col>
            </b-row>
          </div>

          <div style="margin: 5px;">
            <b-row style="margin-bottom: 10px;">
              <b-col cols="12">
                <ABSButton
                  :text="'Edit Data'"
                  classButton="btn btn--default"
                  classIcon="icon-style-1"
                  styleButton="width: 100%; height: 40px; font-size: 14px !important; color: white; border-radius: 5px !important;"
                  @click="daftar"
                />
              </b-col>
            </b-row>
          </div>
        </b-form>
      </div>      
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      Nama: '',
      NIK: '',
      No_HP: '',
      Tgl_Lahir: '',
      Model: {
        KeluhanRb: '',
        Keluhan: '',
        JenisVaksin: '',
        NomorBatch: '',
        TanggalBatch: '',
        JamVaksin: '',
        Suhu: '',
        TensiDarah: '',
        Pertanyaan1: '',
        Pertanyaan2: '',
        Pertanyaan3: '',
        Pertanyaan4: '',
        Pertanyaan5: '',
        Pertanyaan6: '',
        Pertanyaan71: '',
        Pertanyaan72: '',
        Pertanyaan73: '',
        Pertanyaan74: '',
        Pertanyaan75: '',
        HasilScreening: '',
      },
      
       PI_KeluhanRb: {
        cValidate: "required",
        cName: "keluhanRb",
        cId: "rdbkeluhan",
        cRadioOptions: [
          { text: "Tidak Ada Keluhan", value: false },
          { text: "Keluhan", value: true },
        ],
        cRadioDefaultOption: "G",
        cOrder: 1,
        cProtect: true,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: true,
      },
      PI_Keluhan: {
        cValidate: "required",
        cName: "Keluhan",
        cOrder: 2,
        cKey: false,
        cType: "text",
        cProtect: true,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new",
      },
      PI_JenisVaksin: {
        dataLookUp: {},
        cValidate: "required",
        cName: "Jenis Vaksin",
        ckey: false,
        cOrder: 1,
        cProtect: true,
        cParentForm: "FormEntry",
        cStatic: true,
        cOption: [
          { id: "Sinovac", label: "Sinovac"},
          { id: "Astrazeneca", label: "Astrazeneca"},
          { id: "Moderna", label: "Moderna"},
          { id: "Sinopharm", label: "Sinopharm"},
          { id: "Pfizer", label: "Pfizer"},
          { id: "Janssen", label: "Janssen"},
        ],
        cDisplayColumn: "",
        cInputStatus: "new",
        multiple: false
      },
      PI_NomorBatch: {
        cValidate: "required",
        cName: "Suhu",
        cOrder: 2,
        cKey: false,
        cType: "text",
        cProtect: true,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new",
      },
      PI_TanggalBatch: {
        cValidate: "",
        cName: 'Tanggal Batch',
        cOrder: 3,
        cProtect: true,
        cWithTime: false,
        cFormat: "dd/MM/yyyy",
        cParentForm: 'FormEntry',
      },
      PI_JamVaksin: {
          cValidate: "",
          cName: 'Jam Vaksin',
          cOrder: 4,
          cKey: false,
          cFormat: 'HH:mm',
          cProtect: true,
          cParentForm: 'FormEntry',
          cDecimal: 2,
      },
      PI_Suhu: {
        cValidate: "required",
        cName: "Suhu",
        cOrder: 5,
        cKey: false,
        cType: "text",
        cProtect: true,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new",
        cStyle: "height: 50px !important;"
      },
      PI_TensiDarah: {
        cValidate: "required",
        cName: "Tensi Darah",
        cOrder: 6,
        cKey: false,
        cType: "text",
        cProtect: true,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new",
        cStyle: "height: 50px !important;"
      },
      PI_Pertanyaan1a: {
        cValidate: "required",
        cName: "pertanyaan1a",
        cId: "rdbpertanyaan1a",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: true,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan1b: {
        cValidate: "required",
        cName: "pertanyaan1b",
        cId: "rdbpertanyaan1b",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: true,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan2: {
        cValidate: "required",
        cName: "pertanyaan2",
        cId: "rdbpertanyaan2",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: true,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan3: {
        cValidate: "required",
        cName: "pertanyaan3",
        cId: "rdbpertanyaan3",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: true,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan4: {
        cValidate: "required",
        cName: "pertanyaan4",
        cId: "rdbpertanyaan4",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: true,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan5: {
        cValidate: "required",
        cName: "pertanyaan5",
        cId: "rdbpertanyaan5",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: true,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan6: {
        cValidate: "required",
        cName: "pertanyaan6",
        cId: "rdbpertanyaan6",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: true,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan71: {
        cValidate: "required",
        cName: "pertanyaan71",
        cId: "rdbpertanyaan71",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: true,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan72: {
        cValidate: "required",
        cName: "pertanyaan72",
        cId: "rdbpertanyaan72",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: true,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan73: {
        cValidate: "required",
        cName: "pertanyaan73",
        cId: "rdbpertanyaan73",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: true,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan74: {
        cValidate: "required",
        cName: "pertanyaan74",
        cId: "rdbpertanyaan74",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: true,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan75: {
        cValidate: "required",
        cName: "pertanyaan75",
        cId: "rdbpertanyaan75",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: true,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_HasilScreening: {
        cValidate: "required",
        cName: "hasilscreening",
        cId: "rdbhasilscreening",
        cRadioOptions: [
          { text: "Lanjut", value: 1 },
          { text: "Tunda", value: 2 },
          { text: "Tidak Diberikan", value: 3 },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: true,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: true,
      },
    };
  },
  computed: {
    paramFromList() {
      let param = this.$store.getters.getParamPage;
      return param;
    }
  },
  methods: {    
    doBack() {
      this.$router.go(-1);
    },
    getData(){  
      const data = this.paramFromList;  
      // console.log(this.momentUnix(data.vaccine_date_time, 'HH:mm:ss'));
      this.Nama = data.name;
      this.NIK = data.nik;
      this.No_HP = data.handphone_no;
      this.Tgl_Lahir = data.dob;
      this.JenisKelamin = data.gender;
      this.Alamat = data.address;
      this.VaksinPrimer = data.vaccine_primary;
      this.Status = data.curr_status;
      this.KTP = data.ktp_image;
      this.TipeVaksin = data.vaccine_category;
      this.Model.Suhu = data.temperature;
      this.Model.KeluhanRb = data.is_complaint ? true : false;
      this.Model.Keluhan = data.complain_descriptions;
      this.Model.TensiDarah = data.blood_pressure;
      this.Model.Pertanyaan1a = data.question1a ? true : false;
      this.Model.Pertanyaan1b = data.question1b ? true : false;
      this.Model.Pertanyaan2 = data.question2 ? true : false;
      this.Model.Pertanyaan3 = data.question3 ? true : false;
      this.Model.Pertanyaan4 = data.question4 ? true : false;
      this.Model.Pertanyaan5 = data.question5 ? true : false;
      this.Model.Pertanyaan6 = data.question6 ? true : false;
      this.Model.Pertanyaan71 = data.question7a ? true : false;
      this.Model.Pertanyaan72 = data.question7b ? true : false;
      this.Model.Pertanyaan73 = data.question7c ? true : false;
      this.Model.Pertanyaan74 = data.question7d ? true : false;
      this.Model.Pertanyaan75 = data.question7e ? true : false;
      this.Model.HasilScreening = data.screening_result ? data.screening_result : 1;
      this.Model.JenisVaksin = data.vaccine_type;
      this.Model.NomorBatch = data.batch_no;  
      this.Model.TanggalBatch = this.momentUnix(data.vaccine_date_time, 'YYYY-MM-DD');
      this.Model.JamVaksin = this.momentUnix(data.vaccine_date_time, 'HH:mm:ss');    
    },
    doSaveObservasi() {
      let param = {
          nik: this.NIK,
          is_complaint: this.Model.KeluhanRb,
          is_observing: true,
          complain_descriptions : this.Model.Keluhan,
        };

        this.postJSON(this.url + 'update-status-observe-user', param, true).then((response) => {
          if (response == null) return; 
          this.$router.go(-1);
        });
    },
    doPrint() {
      window.frames[
        "print_frame"
      ].document.body.innerHTML = document.getElementById("forPrint").innerHTML;
      window.frames["print_frame"].window.focus();
      window.frames["print_frame"].window.print();
    },
    daftar() {
      this.$router.push("/CheckPasswordForm");
    },
  },
  mounted() {
    this.getData();
  },
  created() {
  }
};
</script>