<template>
  <div>
    <div class="header">
      <b-row>
        <b-col style="padding: unset !important;">
          <img :src="require('@/assets/icon-svg/ic_arrow_left.svg')" alt="" style="margin: 16px; font-size: 12px;" @click="doBack">
          Menu
        </b-col>
        <b-col style="margin-top: 6px; margin-right: 16px; text-align: right; font-size: 24px; font-weight: 700;">
          Edit Data
        </b-col>
      </b-row>
    </div>
    <b-form :data-vv-scope="'FormEntry'" :data-vv-value-path="'FormEntry'">
      <div style="margin: 0 20px; margin-top: 25px !important;">
        <b-row>
          <b-col>
            <label class="lbl-bold" style="color: #2D9CDB;">Nama <span style="color:red;">*</span></label>
            <ACCTextBox
              :prop="PI_Name"
              v-model="Model.name"
              ref="ref_name"
            />
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <label class="lbl-bold" style="color: #2D9CDB;">NIK <span style="color:red;">*</span></label>
            <ACCTextBox
              :prop="PI_NIK"
              v-model="Model.nik"
              ref="ref_nik"
            />
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <label class="lbl-bold" style="color: #2D9CDB;">No Handphone <span style="color:red;">*</span></label>
            <ACCTextBox
              :prop="PI_NoHandphone"
              v-model="Model.handphone_no"
              ref="ref_handphone_no"
            />
          </b-col>
        </b-row>
        <b-row>
          <b-col style="padding-right: unset !important;">
            <label class="lbl-bold" style="color: #2D9CDB;">Tanggal Lahir</label>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="4">
            <HOODropDown
              @change="OnDateChange"
              :prop="PI_Date"
              v-model="Model.Date"
              :label="Model.DateLabel"
              ref="ref_Date"
            />
          </b-col>
          <b-col>
            <HOODropDown
              @change="OnMonthChange"
              :prop="PI_Month"
              v-model="Model.Month"
              :label="Model.MonthLabel"
              ref="ref_Month"
            />
          </b-col>
          <b-col cols="3">
            <ACCTextBox
              @onBlur="OnYearChange"
              :prop="PI_Year"
              v-model="Model.Year"
              ref="ref_Year"
            />
          </b-col>
        </b-row>
        <!-- <b-row>
          <b-col style="padding-right: unset !important;">
            <label class="lbl-bold" style="color: #2D9CDB;">Tanggal Lahir</label>
            <ACCDateTime
              :prop="PI_dob"
              v-model="Model.dob"
              ref="ref_dob"
            />
          </b-col>
        </b-row> -->
        <!-- <b-row>
          <b-col>
            <label class="lbl-bold" style="color: #2D9CDB;">Alamat</label>
            <ACCTextArea
              :prop="PI_Address"
              v-model="Model.address"
              ref="ref_address" />
          </b-col>
        </b-row> -->
        <b-row>
          <b-col style="font-size: 12px;">
            <label class="lbl-bold" style="color: #2D9CDB;">Jenis Kelamin</label>
            <ACCRadioButton
              :prop="PI_JenisKelamin"
              v-model="Model.JenisKelamin"
              ref="ref_JenisKelamin"
            />
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <hr>
          </b-col>
        </b-row>
        <b-row>
          <b-col style="text-align: center">
            <span>
              <label class="lbl-bold" style="color: #000; font-size: 15px;">Tipe Vaksin</label>
            </span>
          </b-col>
        </b-row>
        <b-row>
          <b-col style="font-size: 12px;">
            <ACCRadioButton
              @input="OnTipeChange"
              :prop="PI_Tipe"
              v-model="Model.Tipe"
              ref="ref_Tipe"
            />
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <hr>
          </b-col>
        </b-row>
        <b-row>
          <b-col style="text-align: center">
            <span>
              <label class="lbl-bold" style="color: #000; font-size: 15px;">Jenis Vaksin Primer (Vaksin 1 dan Vaksin 2)</label>
            </span>
          </b-col>
        </b-row>
        <b-row>
          <b-col style="font-size: 12px;">
            <ACCRadioButton
              :prop="PI_Jenis"
              v-model="Model.Jenis"
              ref="ref_Jenis"
            />
          </b-col>
        </b-row>
        <div style="margin: 5px;">
            <b-row>
              <b-col md="12">
                <span>
                  <label class="lbl-bold" style="color: #2D9CDB;">Status Sekarang</label>
                </span>
                <ACCTextBox
                  :prop="PI_StatusSekarang"
                  v-model="Model.Status"
                  :label="Model.Status"
                  ref="ref_Status"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <label class="lbl-bold" style="color: #2D9CDB;">Ganti Status Menjadi</label>
                <HOODropDown
                  @change="OnDateChange"
                  :prop="PI_Status"
                  v-model="Model.StatusNew"
                  :label="Model.StatusNew"
                  ref="ref_StatusNew"
                />
              </b-col>
            </b-row>
          </div>
        <b-row>
          <b-col>
            <hr>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <span>
              <label class="lbl-bold" style="color: #2D9CDB;">KTP <span style="color:red;">*</span></label>
            </span> <br>
            <HOOImageUploadKTP
              :prop="PI_Ktp"
              @change="OnKtpChange"
              v-model="Model.ktp_image"
            />
          </b-col>
        </b-row>
      </div>
      <div style="margin: 25px 20px; padding-bottom: 25px;">
        <b-row v-if="paramFromList.statusForm == 'add'">
          <b-col>
            <ABSButton
              :text="'Daftar'"
              classButton="btn btn--default"
              classIcon="icon-style-1"
              styleButton="width: 100%; height: 40px; font-size: 14px !important; color: white; border-radius: 5px !important;"
              @click="daftar"
            />
          </b-col>
          <b-col>
            <ABSButton
              :text="'Batal'"
              classButton="btn btn--red"
              classIcon="icon-style-1"
              styleButton="width: 100%; height: 40px; font-size: 14px !important; color: white; border-radius: 5px !important;"
              @click="$router.go(-1)"
            />
          </b-col>
        </b-row>
        <div v-else>
          <b-row>
            <b-col>
              <ABSButton
                :text="'Hadir'"
                classButton="btn btn--default"
                classIcon="icon-style-1"
                styleButton="width: 100%; height: 40px; font-size: 14px !important; color: white; border-radius: 5px !important;"
                @click="validateUser"
              />
            </b-col>
          </b-row>
          <b-row style="margin-top: 20px;">
            <b-col>
              <ABSButton
                :text="'Tolak'"
                classButton="btn btn--red"
                classIcon="icon-style-1"
                styleButton="width: 100%; height: 40px; font-size: 14px !important; color: white; border-radius: 5px !important;"
                @click="validateUser('tolak')"
              />
            </b-col>
          </b-row>
          <b-row style="margin-top: 20px;">
            <b-col>
              <ABSButton
                :text="'Kembali'"
                classButton="btn btn--default"
                classIcon="icon-style-1"
                styleButton="width: 100%; height: 40px; font-size: 14px !important; color: white; border-radius: 5px !important;"
                @click="$router.go(-1)"
              />
            </b-col>
          </b-row>
        </div>
      </div>
    </b-form>
  </div>
</template>

<script>

export default {
  data() {
    return {
      Model: {
        name: "",
        nik: "",
        handphone_no: "",
        dob: "",
        Date: "",
        DateLabel: "",
        Month: "",
        MonthLabel: "",
        Year: "",
        JenisKelamin: "M",
        Tipe: "Vaksin1",
        Jenis: "",
        ktp_image: "",
        address: "",
        Status:"",
      },
      PI_Name: {
        cValidate: "required",
        cName: "Nama",
        cOrder: 1,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_NIK: {
        cValidate: "required",
        cName: "NIK",
        cOrder: 2,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_NoHandphone: {
        cValidate: "required",
        cName: "No Handphone",
        cOrder: 3,
        cKey: false,
        cType: "tel",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_Date: {
        dataLookUp: null,
        cValidate: "",
        cName: "Date",
        ckey: false,
        cOrder: 4,
        cProtect: false,
        cParentForm: "FormEntry",
        cStatic: true,
        cOption: this.getAllDaysNumber(),
        cDisplayColumn: "",
        cInputStatus: "new",
        cPlaceholder: "Tanggal"
      },
      PI_Month: {
        dataLookUp: null,
        cValidate: "",
        cName: "Month",
        ckey: false,
        cOrder: 5,
        cProtect: false,
        cParentForm: "FormEntry",
        cStatic: true,
        cOption: this.getAllMonths(),
        cDisplayColumn: "",
        cInputStatus: "new",
        cPlaceholder: "Bulan"
      },
      PI_Year: {
        cValidate: "min:4|max:4|min_value:1900|max_value:"+this.getFullYear(new Date()),
        cName: "Year",
        cOrder: 6,
        cKey: false,
        cType: "numeric",
        cProtect: false,
        cParentForm: "FormEntry",
        cPlaceholder: "Tahun",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_dob : {
        cValidate: '',
        cName: 'Tanggal Lahir',
        cOrder: 4,
        cProtect: false,
        cWithTime: false,
        cFormat: "dd/MM/yyyy",
        cParentForm: "FormEntry",
        cInputStatus: "new"
      },
      PI_Address: {
        cValidate: "",
        cName: 'Alamat',
        cOrder: 5,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cResize: false,
        cReadonly: false,
        cRows: 5,
        cMaxRows: 5,
        cSize: "md"
      },
      PI_JenisKelamin: {
        cValidate: "",
        cName: "JenisKelamin",
        cId: "rdbJenisKelamin",
        cRadioOptions: [
          { text: "Laki-Laki", value: "M" },
          { text: "Perempuan", value: "L" },
        ],
        cRadioDefaultOption: "M",
        cOrder: 6,
        cProtect: false,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Tipe: {
        cValidate: "",
        cName: "Tipe",
        cId: "rdbTipe",
        cRadioOptions: [
          { text: "Vaksin 1", value: "Vaksin1" },
          { text: "Vaksin 2", value: "Vaksin2" },
          { text: "Booster", value: "Booster" },
        ],
        cRadioDefaultOption: "Vaksin1",
        cOrder: 7,
        cProtect: false,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Jenis: {
        cValidate: "",
        cName: "Jenis",
        cId: "rdbJenis",
        cRadioOptions: [
          { text: "Sinovac", value: "Sinovac" },
          { text: "Pfizer", value: "Pfizer" },
          { text: "Astrazeneca", value: "Astrazeneca" },
          { text: "Moderna", value: "Moderna" },
        ],
        cRadioDefaultOption: "",
        cOrder: 8,
        cProtect: true,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
        cTwoCol: true
      },
      PI_Status: {
        dataLookUp: null,
        cValidate: "",
        cName: "Status",
        ckey: false,
        cOrder: 9,
        cProtect: false,
        cParentForm: "FormEntry",
        cStatic: true,
        cOption: [
          { label: 'New', id: 0 },
          { label: 'Hadir', id: 1 },
          { label: 'Tensi', id: 1 },
          { label: 'Vaksin', id: 3 },
          { label: 'Selesai', id: 4 },
        ], 
        cDisplayColumn: "",
        cInputStatus: "new",
        cPlaceholder: "New Status"
      },
      PI_StatusSekarang: {
        dataLookUp: null,
        cValidate: "",
        cName: "StatusNew",
        ckey: false,
        cOrder: 9,
        cProtect: true,
        cParentForm: "FormEntry",
        cStatic: true,
        cPlaceholder: "Status"
      },
      PI_Ktp: {
        cValidate: "required",
        cName: "KTP",
        cOrder: 9,
        cTitle: 'KTP',
        cType: "ktp",
        cIconPhoto: true,
        cParentForm: "FormEntry"
      },
    };
  },
  computed: {
    paramFromList() {
      return this.$store.getters.getParamPage;
    },
  },
  methods: {
     OnStatusChange(data) {
      this.Model.Date = data.id;
      this.Model.DateLabel = data.label;
    },
    OnDateChange(data) {
      this.Model.Date = data.id;
      this.Model.DateLabel = data.label;
    },
    OnMonthChange(data) {
      this.Model.Month = data.id;
      this.Model.MonthLabel = data.label;
      this.PI_Date.cOption = this.getAllDaysNumber(data.id);
    },
    OnYearChange(data) {
      this.PI_Date.cOption = this.getAllDaysNumber(this.Model.Month, data);
    },
    OnTipeChange(data) {
      if (data == 'Booster') {
        this.PI_Jenis.cProtect = false;
        // this.Model.Jenis = "Sinovac";
      } else {
        this.PI_Jenis.cProtect = true;
        this.Model.Jenis = "";
      }
    },
    daftar() {
      this.$validator._base
      .validateAll("FormEntry")
      .then((result) => {
        if (!result) return;
        this.alertConfirmation("Apakah anda yakin ingin mendaftar?").then(
          (ress) => {
            if (ress.value) {
              this.$validator.errors.clear("FormEntry");
              this.M_Save();
            }
          }
        );
      });
    },
    validateUser(data = 'hadir') {
      this.$validator._base
      .validateAll("FormEntry")
      .then((result) => {
        if (!result) return;
        this.alertConfirmation("Apakah anda yakin ingin " + data + " ?").then(
          (ress) => {
            if (ress.value) {
              this.$validator.errors.clear("FormEntry");
              this.M_Update(data);
            }
          }
        );
      });
    },
    M_Update(data) {
      let dob = this.momentDateFormatting(this.Model.DateLabel + "/" + this.Model.Month + "/" + this.Model.Year, "DD/MM/YYYY");
      let param = {
        site_id: this.getDataUser() == undefined ? '' : this.getDataUser().site.site_id,
        name: this.Model.name,
        nik: this.Model.nik,
        dob: dob,
        handphone_no: this.Model.handphone_no,
        ktp_image: this.Model.ktp_image,
        address: this.Model.address,
        gender: this.Model.JenisKelamin,
        vaccine_category: this.Model.Tipe,
        vaccine_primary: this.Model.Jenis,
        is_eligible: data == 'hadir',
      };

      this.postJSON(this.url + 'validate-user', param).then((response) => {
        if (response == null) return;
        if (data == 'hadir') {
          const body = 
`Nama : ${this.Model.name}

😁 *Polisi bersama Warga* 😁

RW 06 Kamal Muara
             (BGM)
Pantai Indah Kapuk

Vaksinasi Dosis Lanjutan
          (Booster)
Polres Metro Jakarta Utara

*Polda Metro Jaya*`;
          this.doWA(body, this.Model.handphone_no);
          this.$router.replace({ path: "/" });
          return;
        }
        this.$router.go(-1);
      });
    },
    M_Save() {
      let dob = this.momentDateFormatting(this.Model.DateLabel + "/" + this.Model.Month + "/" + this.Model.Year, "DD/MM/YYYY");
      let param = {
        site_id: this.getDataUser() == undefined ? '' : this.getDataUser().site.site_id,
        name: this.Model.name,
        nik: this.Model.nik,
        dob: dob,
        handphone_no: this.Model.handphone_no,
        ktp_image: this.Model.ktp_image,
        address: this.Model.address,
        gender: this.Model.JenisKelamin,
        vaccine_category: this.Model.Tipe,
        vaccine_primary: this.Model.Jenis,
      };

      this.postJSON(this.url + 'add-user', param).then((response) => {
        if (response == null) return;
        this.$router.go(-1);
      });
    },
    OnKtpChange(data) {
      this.Model.ktp_image = data.url;
    },
    onImageLoadFailure(event) {
    },
  },
  mounted() {
    let validate_ktp = this.getDataUser() == undefined ? false : this.getDataUser().site.ktp_image_is_required;
    this.PI_Ktp.cValidate = validate_ktp ? 'required' : '';
      this.Model = {
        name: this.paramFromList.name,
        nik: this.paramFromList.nik,
        handphone_no: this.paramFromList.handphone_no,
        dob: this.paramFromList.dob,
        Date: +this.getDays(this.paramFromList.dob, "YYYY-MM-DD"),
        DateLabel: this.getDays(this.paramFromList.dob, "YYYY-MM-DD"),
        Month: +this.getMonths(this.paramFromList.dob, "YYYY-MM-DD"),
        MonthLabel: this.getMonths(this.paramFromList.dob, "YYYY-MM-DD"),
        Year: this.getFullYear(this.paramFromList.dob, "YYYY-MM-DD"),
        JenisKelamin: this.paramFromList.gender,
        Tipe: this.paramFromList.vaccine_category,
        Jenis: this.paramFromList.vaccine_primary,
        ktp_image: this.paramFromList.ktp_image,
        address: this.paramFromList.address,
        Status: this.paramFromList.curr_status == 0 ? 'Pendaftaran' : this.paramFromList.curr_status == 1 ? 'Tunggu Tensi' : this.paramFromList.curr_status == 2 ? 'Tunggu Screening' : this.paramFromList.curr_status == 3 ? 'Tunggu Vaksin' : this.paramFromList.curr_status == 4 ? 'Selesai Vaksin' : this.paramFromList.curr_status == 5 ? 'Ditolak' : this.paramFromList.curr_status == 6 ? 'Berhasil Upload' : this.paramFromList.curr_status == 7 ? 'Gagal Upload' : 'Pendaftaran'
      };
      this.PI_Name.cProtect = true;
      this.PI_NIK.cProtect = true;
  },
  created() {
  }
};
</script>