<template>
  <div class="modal-menu" :style="`display: ${isShow? 'block;': 'none;'}`">
    <div class="modal-menu-content">
      <div class="reason-container">
        <b-form :data-vv-scope="'FormEntryReason'" :data-vv-value-path="'FormEntryReason'">
          <b-row>
            <b-col>
              <label class="reason-title">Alasan</label>
              <ACCTextArea
                :prop="PI_Alasan"
                v-model="Model.alasan"
                ref="ref_alasan" />
            </b-col>
          </b-row>
          <b-row style="margin-top: 20px;">
            <b-col>
              <ABSButton
                :text="'Simpan'"
                classButton="btn btn--default"
                classIcon="icon-style-1"
                styleButton="width: 100%; height: 40px; font-size: 14px !important; border-radius: 5px !important;"
                @click="save"
              />
            </b-col>
          </b-row>
          <b-row style="margin-top: 20px;">
            <b-col>
              <ABSButton
                :text="'Kembali'"
                classButton="btn"
                classIcon="icon-style-1"
                styleButton="width: 100%; height: 40px; font-size: 14px !important; color: #D6AA03; border-radius: 5px !important; background: #F2F2F2; border-color: #F2F2F2;"
                @click="hide"
              />
            </b-col>
          </b-row>
        </b-form>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      isShow: false,
      Model: {
        alasan: "",
      },
      PI_Alasan: {
        cValidate: "",
        cName: 'Alasan',
        cOrder: 1,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntryReason",
        cResize: false,
        cReadonly: false,
        cRows: 5,
        cMaxRows: 5,
        cSize: "md"
      },
    };
  },
  computed: {},
  methods: {
    show() {
      this.isShow = true;
    },
    hide() {
      this.isShow = false;
      this.$emit('onBack')
    },
    save() {
      this.$validator._base
      .validateAll("FormEntryReason")
      .then((result) => {
        if (!result) return;
        this.$validator.errors.clear("FormEntryReason");
        this.M_Save();
      });
    },
    M_Save() {
      this.$emit('onSave', this.Model.alasan);
    },
  },
  mounted() {
  },
  created() {
  }
};
</script>

<style scoped>
.modal-menu {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.3);
}

.modal-menu-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* padding: 20px; */
  width: 95%;
}
</style>