<template>
  <div>
    <div style="height: 53px; background-color: #FFCC00; color: black;" @click="doBack">
      <img :src="require('@/assets/icon-svg/ic_arrow_left.svg')" alt="" style="margin: 16px;">
      Back
    </div>
    <qrcode-stream @decode="onDecode"></qrcode-stream>
  </div>
</template>

<script>

export default {
  data() {
    return {
    };
  },
  computed: {
    paramFromList() {
      return this.$store.getters.getParamPage;
    },
  },
  methods: {
    onDecode (decodedString) {
      let param = { 
        site_id: this.getDataUser().site.site_id,
        transaction_id: decodedString,
      };

      this.postJSON(this.url + 'get-user-scan-qr', param, true).then((response) => {
        if (response == null) return;
 
          const data = response.data;
          if (data == null) {
            this.alertError("Data not found");
            return;
          }
          const param = {
            ...data,
            statusForm: 'edit',
          }
          this.$store.commit("setParamPage", param);
          this.$router.push("/RegisterForm");
      });
    },
  },
  mounted() {
  },
  created() {
  }
};
</script>