<template>
  <div>
    <div class="header" @click="doBack">
      <img :src="require('@/assets/icon-svg/ic_arrow_left.svg')" alt="" style="margin: 16px;">
      Menu
    </div>
    <div class="dashboard-page-chart">
      <div class="dashboard-page-chart__body" style="background-color: white;">
        <b-row>
          <b-col cols="6">
            <div class="indicator-total">            
              {{ totalDataScreening }}
            </div>
          </b-col>
          <b-col cols="6">
            <div class="indicator-title">
              Screening
            </div>
          </b-col>
        </b-row>
        <b-row style="margin-top: 10px;">
          <b-col cols="12">            
              <b-form-input
                id="txtSearch"
                v-model="search"
                type="text"
                placeholder="Cari Nama atau NIK"
                v-shortkey.focus="['f1']"
                class=""
                @keyup.enter.native="onSearchEnter"
                autocomplete="off"                
                style="height: 42px; background: #F2F2F2;"
              ></b-form-input>
              <img style="position: absolute; top: 14px; right: 12px;"
                :src="search? require('@/assets/icon-svg/clear.svg') : require('@/assets/icon-svg/clear.svg')"
                :style="search? 'cursor: pointer;': ''"
                @click="clearSearch"
                alt />
          </b-col>
        </b-row> 
      </div>
      <div style="padding-left: 7px; padding-right: 7px; background: white;">
        <b-row hidden style="background: white; border-bottom: solid 2px #E0E0E0; padding-bottom: 10px;">
          <b-col cols="4">
            <span style="height: 20px; background-color:#F2994A; border-radius: 3px; color: #F2994A;">XX</span>
            Available
          </b-col>
          <b-col cols="4">
            <span style="height: 20px; background-color:#56CCF2; border-radius: 3px; color: #56CCF2;">XX</span>
            On Progress
          </b-col>
          <b-col cols="4">
            <span style="height: 20px; background-color:#27AE60; border-radius: 3px; color: #27AE60;">XX</span>
            Complete
          </b-col>
        </b-row>
        <template v-for="(data, i) in dataTensi">
          <div v-bind:key="i">            
            <b-row v-if="data.name !== null" :class="i % 2 == 0 ? 'stripe-white' : 'stripe-grey'" @click="goToDetail(data)">
              <b-col cols="3">
                <div class="vaccine-screening">
                  {{ String(data.seq_no).padStart(4, '0') }}
                </div>
              </b-col>
              <b-col class="ellipse-text">
                <span>{{ data.name }}</span><br>
                <span>{{ data.nik }}</span> 
              </b-col>
              <b-col cols="1" style="text-align: end; margin: auto;">
                <img :src="require('@/assets/icon-svg/left.svg')" alt="" style="margin-left: 10px;">
              </b-col>
            </b-row>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      totalDataScreening: 0,
      dataTensi: [],
      search: '',
    };
  },
  computed: {},
  methods: {
    clearSearch() {
      this.search = '';
      this.getDataVaksin();
    },
    onSearchEnter() {
        const data = this.dataTensi;
        const search = this.search;
        const result = data.filter(function(item) {
          return item.name.toLowerCase().indexOf(search.toLowerCase()) > -1 || item.nik.toLowerCase().indexOf(search.toLowerCase()) > -1;
        });
        this.dataTensi = result;
    },
    doBack() {
      this.$router.push("/");
    },
    goToDetail(data) {
      this.$store.commit("setParamPage", data);
      this.$router.push({ name: 'ScreeningForm' });
    },
    getDataHeader(){
      let param = { 
        site_id: this.getDataUser().site.site_id,
        type: 2
      };

        this.postJSON(this.url + 'get-menu-data-count', param, true).then((response) => {
          if (response == null) return; 
            this.totalDataScreening = response.data.count;
        });
    },
    getDataVaksin(){
      let param = {
          site_id: this.getDataUser().site.site_id,
          type: 2,
        };
        
        this.postJSON(this.url + 'get-user-status-list', param, true).then((response) => {
          if (response == null) return; 
          this.dataTensi = response.data;
        });
    }    
  },
  mounted() {
    this.getDataHeader();
    this.getDataVaksin();
  },
  created() { }
};
</script>