<template>
  <div>
    <div class="header" @click="doBack">
      <img :src="require('@/assets/icon-svg/ic_arrow_left.svg')" alt="" style="margin: 16px;">
      Kembali
    </div>
    <div class="dashboard-page-chart">
      <div class="dashboard-page-chart__body" style="background-color: white;">
        <div style="border: 1px solid rgb(170 172 177); border-radius: 3px; padding: 10px; margin: 10px;">
          <b-row style="margin-bottom: 5px;">
            <b-col cols="4" class="indicator-info">Nama</b-col>
            <b-col cols="8" style="font-weight: bold;"> {{ Nama }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="4" class="indicator-info">NIK</b-col>
            <b-col cols="8"> {{ NIK }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="4" class="indicator-info">No Handphone</b-col>
            <b-col cols="8"> {{ No_HP }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="4" class="indicator-info">Tgl Lahir</b-col>
            <b-col cols="8"> {{ momentDateFormatting(Tgl_Lahir, "DD MMM YYYY") }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="4" class="indicator-info">Jenis Kelamin</b-col>
            <b-col cols="7"> {{ Jenis_Kelamin == 'M' ? 'Laki-laki' : 'Perempuan' }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="4" class="indicator-info">Tipe Vaksin</b-col>
            <b-col cols="8"> {{ Tipe_Vaksin }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="4" class="indicator-info">Vaksin Primer</b-col>
            <b-col cols="8"> {{ Vaksin_Primer }} </b-col>
          </b-row>
        </div>
        <b-form :data-vv-scope="'FormEntry'" :data-vv-value-path="'FormEntry'">
          <div hidden style="margin: 5px;">
            <b-row>
              <b-col cols="12" style="font-weight: bold;">
                Hasil Verifikasi
              </b-col>
            </b-row>
          </div>
          <div hidden style="margin: 5px;">
            <b-row>
              <b-col md="12">
                <span>
                  <label class="lbl-bold">Jenis Vaksin</label>
                </span>
                <ACCDropDown
                  @change="OnJenisVaksinChange"
                  :prop="PI_JenisVaksin"
                  v-model="Model.JenisVaksin"
                  ref="ref_JenisVaksin"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <label class="lbl-bold">Nomor Batch</label>
                <ACCTextBox
                  :prop="PI_NomorBatch"
                  v-model="Model.NomorBatch"
                  ref="ref_NomorBatch"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="padding-right: unset !important;">
                <label class="lbl-bold">Tanggal Batch</label>
                <ACCDateTime
                  :prop="PI_TanggalBatch"
                  v-model="Model.TanggalBatch"
                  ref="ref_TanggalBatch"
                />
              </b-col>
            </b-row>
            <b-row style="padding-bottom: 10px;">
              <b-col cols="12">
                <label class="lbl-bold">Jam Vaksinasi</label>
                <ACCTime
                    :prop="PI_JamVaksin"
                    v-model="Model.JamVaksin"
                />
              </b-col>
            </b-row>
          </div>
          <div style="margin: 5px;">
            <b-row>
              <b-col cols="6">
                <label class="lbl-bold">Suhu</label>
                <ACCTextBox
                  :prop="PI_Suhu"
                  v-model="Model.Suhu"
                  ref="ref_Suhu"
                />
              </b-col>
              <b-col cols="6">
                <label class="lbl-bold">Tensi Darah</label>
                <ACCTextBox
                  :prop="PI_TensiDarah"
                  v-model="Model.TensiDarah"
                  ref="ref_TensiDarah"
                />
              </b-col>
            </b-row>
          </div>
          <div style="margin: 5px;">
            <b-row>
              <b-col cols="12" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                <hr>
                <label class="lbl-bold" style="text-align: center; width: 100%;">Pertanyaan Untuk Vaksinasi-1</label>
                <label style="text-align: center;">
                  Apakah Anda memiliki riwayat alergi berat seperti sesak napas, bengkak dan urtikaria seluruh badan atau reaksi berat lainnya karena vaksin?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan1aChange"
                  :prop="PI_Pertanyaan1a"
                  v-model="Model.Pertanyaan1a"
                  ref="ref_Pertanyaan1a"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                <hr>
                <label class="lbl-bold" style="text-align: center; width: 100%;">Pertanyaan Untuk Vaksinasi-2</label>
                <label style="text-align: center;">
                  Apakah Anda memiliki riwayat alergi berat setelah divaksin COVID-19 sebelumya?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan1bChange"
                  :prop="PI_Pertanyaan1b"
                  v-model="Model.Pertanyaan1b"
                  ref="ref_Pertanyaan1b"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                <hr>
                <label style="text-align: center;">
                  Apakah Anda sedang hamil?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan2Change"
                  :prop="PI_Pertanyaan2"
                  v-model="Model.Pertanyaan2"
                  ref="ref_Pertanyaan2"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                <hr>
                <label style="text-align: center;">
                  Apakah Anda mengidap penyakit autoimun seperti asma, lupus?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan3Change"
                  :prop="PI_Pertanyaan3"
                  v-model="Model.Pertanyaan3"
                  ref="ref_Pertanyaan3"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                <hr>
                <label style="text-align: center;">
                  Apakah Anda sedang mendapat pengobatan untuk gangguan pembekuan darah, kelainan darah, defisiensi imun dan penerima produk darah/transfusi?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan4Change"
                  :prop="PI_Pertanyaan4"
                  v-model="Model.Pertanyaan4"
                  ref="ref_Pertanyaan4"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                <hr>
                <label style="text-align: center;">
                  Apakah Anda sedang mendapat pengobatan immunosupressant seperti kortikosteroid dan kemoterapi?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan5Change"
                  :prop="PI_Pertanyaan5"
                  v-model="Model.Pertanyaan5"
                  ref="ref_Pertanyaan5"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                <hr>
                <label style="text-align: center;">
                  Apakah Anda memiliki penyakit jantung berat dalam keadaan sesak?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan6Change"
                  :prop="PI_Pertanyaan6"
                  v-model="Model.Pertanyaan6"
                  ref="ref_Pertanyaan6"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                <hr>
                <label style="text-align: center;">
                  Apakah Anda mengalami kesulitan untuk naik 10 anak tangga?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan71Change"
                  :prop="PI_Pertanyaan71"
                  v-model="Model.Pertanyaan71"
                  ref="ref_Pertanyaan71"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                <hr>
                <label style="text-align: center;">
                  Apakah Anda sering merasa kelelahan?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan72Change"
                  :prop="PI_Pertanyaan72"
                  v-model="Model.Pertanyaan72"
                  ref="ref_Pertanyaan72"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                <hr>
                <label style="text-align: center;">
                  Apakah Anda memiliki paling sedikit 5 dari 11 penyakit (hipertensi, diabetes, kanker, penyakit paru kronis, serangan jantung, gagal jantung kongestif, nyeri dada, asma, nyeri sendi, stroke dan penyakit ginjal)?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan73Change"
                  :prop="PI_Pertanyaan73"
                  v-model="Model.Pertanyaan73"
                  ref="ref_Pertanyaan73"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                <hr>
                <label style="text-align: center;">
                  Apakah Anda mengalami kesulitan berjalan kira-kira 100 sampai 200 meter?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan74Change"
                  :prop="PI_Pertanyaan74"
                  v-model="Model.Pertanyaan74"
                  ref="ref_Pertanyaan74"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                <hr>
                <label style="text-align: center;">
                  Apakah Anda mengalami penurunan berat badan yang bermakna dalam setahun terakhir?
                </label>
                <ACCRadioButton
                  @input="OnPertanyaan75Change"
                  :prop="PI_Pertanyaan75"
                  v-model="Model.Pertanyaan75"
                  ref="ref_Pertanyaan75"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                <hr>
                <label style="text-align: center;">
                  Hasil Screening
                </label>
                <ACCRadioButton
                  @input="OnHasilScreeningChange"
                  :prop="PI_HasilScreening"
                  v-model="Model.HasilScreening"
                  ref="ref_HasilScreening"
                />
              </b-col>
            </b-row>
          </div>
          <div style="margin: 5px;">
            <b-row hidden style="margin-bottom: 10px;">
              <b-col cols="12">
                <ABSButton
                  :text="'Print'"
                  classButton="btn btn--default"
                  classIcon="icon-style-1"
                  styleButton="width: 100%; height: 40px; font-size: 14px !important; color: #2D9CDB; border-radius: 5px !important; margin-right: 0px !important; background-color: transparent !important;"
                  @click="doPrint"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="6">
                <ABSButton
                  :text="'Lanjut'"
                  classButton="btn btn--default"
                  classIcon="icon-style-1"
                  styleButton="width: 100%; height: 40px; font-size: 14px !important; border-radius: 5px !important; margin-right: 0px !important;"
                  @click="doSaveVerifikasi"
                />
              </b-col>
              <b-col cols="6" style="text-align: end;">
                <ABSButton
                  :text="'Batal'"
                  classButton="btn btn--red"
                  classIcon="icon-style-1"
                  styleButton="width: 100%; height: 40px; font-size: 14px !important; color: white; border-radius: 5px !important; margin-right: 0px !important;"
                  @click="doOpenReject"
                />
              </b-col>
            </b-row>
          </div>
        </b-form>
      </div>  
      <Reason ref="modalReject" @onBack="doBack" @onSave="doReject"/>    
    </div>
    <div id="forPrint" style="display: none">
      <div>
        <h3 style="text-align: center;">KARTU KENDALI PELAYANAN VAKSINASI COVID-19</h3>

        <h5 style="margin-bottom: 0px;">A. MEJA PRA-REGISTRASI</h5>

        <table style="width: 100%; border: 1px solid black; border-collapse: collapse;">
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <th colspan="2" style="text-align:left">VERIFIKASI DATA IDENTITAS</th>
            <th style="border: 1px solid black; border-collapse: collapse;">Paraf Petugas</th>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="border: 1px solid black; border-collapse: collapse;">Nama</td>
            <td style="width: 60%; border: 1px solid black; border-collapse: collapse;">{{Nama}}</td>
            <td style="width: 20%;" rowspan="5"></td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="border: 1px solid black; border-collapse: collapse;">NIK</td>
            <td style="border: 1px solid black; border-collapse: collapse;">{{NIK}}</td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="border: 1px solid black; border-collapse: collapse;">Tanggal Lahir</td>
            <td style="border: 1px solid black; border-collapse: collapse;">{{ momentDateFormatting(Tgl_Lahir, "DD MMM YYYY") }}</td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="border: 1px solid black; border-collapse: collapse;">No. HP</td>
            <td style="border: 1px solid black; border-collapse: collapse;">{{No_HP}}</td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="border: 1px solid black; border-collapse: collapse;">Alamat</td>
            <td style="border: 1px solid black; border-collapse: collapse;">{{Alamat}}</td>
          </tr>
        </table>

        <h5 style="margin-bottom: 0px;">B.	MEJA 1 (SKRINNING DAN VAKSINASI)</h5>

        <table style="width: 100%; border: 1px solid black; border-collapse: collapse;">
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <th colspan="5">SKRINNING</th>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="text-align:left; width:5%; border: 1px solid black; border-collapse: collapse;">No</td>
            <td style="text-align:left; width:45%; border: 1px solid black; border-collapse: collapse;">Pemeriksaan</td>
            <td colspan="2" style="text-align:left; width:25%; border: 1px solid black; border-collapse: collapse;">Hasil</td>
            <td style="text-align:left; width:25%; border: 1px solid black; border-collapse: collapse;">Tindak Lanjut</td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="text-align:left; vertical-align: top; width:5%; border: 1px solid black; border-collapse: collapse;">1</td>
            <td style="text-align:left; vertical-align: top; width:45%; border: 1px solid black; border-collapse: collapse;">Suhu</td>
            <td style="text-align:left; vertical-align: top;width:10%; border: 1px solid black; border-collapse: collapse;"></td>
            <td style="text-align:left; width:15%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.Suhu}}</td>
            <td style="text-align:left; vertical-align: top; width:25%; border: 1px solid black; border-collapse: collapse;">Suhu > 37,5 &#8451; <b>vaksinasi ditunda</b> sampai sasaran sembuh</td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="text-align:left; vertical-align: top; width:5%; border: 1px solid black; border-collapse: collapse;">2</td>
            <td style="text-align:left; vertical-align: top; width:45%; border: 1px solid black; border-collapse: collapse;">Tekanan Darah</td>
            <td style="text-align:left; vertical-align: top; width:10%; border: 1px solid black; border-collapse: collapse;"></td>
            <td style="text-align:left; width:15%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.TensiDarah}}</td>
            <td style="text-align:left; vertical-align: top; width:25%; border: 1px solid black; border-collapse: collapse;">Jika tekanan darah <b>>180/110 mmHg</b> pengukuran tekanan darah diulang 5 (lima) sampai 10 (sepuluh) menit kemudian 
                <br>
                Jika masih tinggi maka vaksinasi <b>ditunda</b> sampai terkontrol
            </td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="text-align:left; vertical-align: top; width:5%; border: 1px solid black; border-collapse: collapse;"></td>
            <td style="text-align:left; vertical-align: top; width:45%; border: 1px solid black; border-collapse: collapse;">Pertanyaan</td>
            <td style="text-align:left; vertical-align: top; width:10%; border: 1px solid black; border-collapse: collapse;">Ya</td>
            <td style="text-align:left; width:15%; border: 1px solid black; border-collapse: collapse;">Tidak</td>
            <td style="text-align:left; vertical-align: top; width:25%; border: 1px solid black; border-collapse: collapse;"></td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="text-align:left; vertical-align: top; width:5%; border: 1px solid black; border-collapse: collapse;">1</td>
            <td style="text-align:left; vertical-align: top; width:45%; border: 1px solid black; border-collapse: collapse;"><b>Pertanyaan untuk vaksinasi ke-1</b><br>Apakah Anda memiliki riwayat alergi berat seperti sesak napas, bengkak dan urtikaria seluruh badan atau reaksi berat lainnya karena vaksin?</td>
            <td style="text-align:left; vertical-align: top; width:10%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.Pertanyaan1a ? 'X' : ''}}</td>
            <td style="text-align:left; width:15%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.Pertanyaan1a ? '' : 'X'}}</td>
            <td style="text-align:left; vertical-align: top; width: 25%; border: 1px solid black; border-collapse: collapse;">Jika Ya, maka vaksinasi diberikan di Rumah Sakit</td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="text-align:left; vertical-align: top; width:5%; border: 1px solid black; border-collapse: collapse;"></td>
            <td style="text-align:left; vertical-align: top; width:45%; border: 1px solid black; border-collapse: collapse;"><b>Pertanyaan untuk vaksinasi ke-2</b><br>Apakah Anda memiliki riwayat alergi berat setelah divaksinasi COVID-19 sebelumnya?</td>
            <td style="text-align:left; vertical-align: top; width:10%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.Pertanyaan1b ? 'X' : ''}}</td>
            <td style="text-align:left; width: 15%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.Pertanyaan1b ? '' : 'X'}}</td>
            <td style="text-align:left; vertical-align: top; width:25%; border: 1px solid black; border-collapse: collapse;">Jika Ya, merupakan kontraindikasi untuk vaksinasi ke-2</td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="text-align:left; vertical-align: top; width: 5%; border: 1px solid black; border-collapse: collapse;">2</td>
            <td style="text-align:left; vertical-align: top; width: 45%; border: 1px solid black; border-collapse: collapse;">Apakah Anda sedang hamil</td>
            <td style="text-align:left; vertical-align: top;width: 10%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.Pertanyaan2 ? 'X' : ''}}</td>
            <td style="text-align:left; width:15%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.Pertanyaan2 ? '' : 'X'}}</td>
            <td style="text-align:left; vertical-align: top; width:25%; border: 1px solid black; border-collapse: collapse;">Jika sedang hamil, vaksinasi ditunda sampai melahirkan</td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="text-align:left; vertical-align: top; width:5%; border: 1px solid black; border-collapse: collapse;">3</td>
            <td style="text-align:left; vertical-align: top; width:45%; border: 1px solid black; border-collapse: collapse;">Apakah Anda mengidap penyakit autoimun seperti asma, lupus?</td>
            <td style="text-align:left; vertical-align: top; width:10%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.Pertanyaan3 ? 'X' : ''}}</td>
            <td style="text-align:left; width: 15%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.Pertanyaan3 ? '' : 'X'}}</td>
            <td style="text-align:left; vertical-align: top; width: 25%; border: 1px solid black; border-collapse: collapse;">Jika Ya, maka vaksinasi ditunda jika sedang dalam kondisi akut atau belum terkendali</td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="text-align:left; vertical-align: top; width:5%; border: 1px solid black; border-collapse: collapse;">4</td>
            <td style="text-align:left; vertical-align: top; width:45%; border: 1px solid black; border-collapse: collapse;">Apakah Anda sedang mendapat pengobatan untuk gangguan pembekuan darah, kelainan darah, defisiensi imun dan penerima produk darah/transfusi?</td>
            <td style="text-align:left; vertical-align: top; width:10%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.Pertanyaan4 ? 'X' : ''}}</td>
            <td style="text-align:left; width:15%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.Pertanyaan4 ? '' : 'X'}}</td>
            <td style="text-align:left; vertical-align: top; width:25%; border: 1px solid black; border-collapse: collapse;">Jika Ya, maka vaksinasi ditunda dan dirujuk</td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="text-align:left; vertical-align: top; width:5%; border: 1px solid black; border-collapse: collapse;">5</td>
            <td style="text-align:left; vertical-align: top; width:45%; border: 1px solid black; border-collapse: collapse;">Apakah Anda sedang mendapat pengobatan immunosupressant seperti kortikosteroid dan kemoterapi?</td>
            <td style="text-align:left; vertical-align: top; width:10%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.Pertanyaan5 ? 'X' : ''}}</td>
            <td style="text-align:left; width:15%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.Pertanyaan5 ? '' : 'X'}}</td>
            <td style="text-align:left; vertical-align: top; width:25%; border: 1px solid black; border-collapse: collapse;">Jika Ya, maka vaksinasi ditunda dan dirujuk</td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="text-align:left; vertical-align: top; width:5%; border: 1px solid black; border-collapse: collapse;">6</td>
            <td style="text-align:left; vertical-align: top; width:45%; border: 1px solid black; border-collapse: collapse;">Apakah Anda memiliki penyakit jantung berat dalam keadaan sesak?</td>
            <td style="text-align:left; vertical-align: top;width:10%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.Pertanyaan6 ? 'X' : ''}}</td>
            <td style="text-align:left; width:15%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.Pertanyaan6 ? '' : 'X'}}</td>
            <td style="text-align:left; vertical-align: top; width:25%; border: 1px solid black; border-collapse: collapse;">Jika Ya, maka vaksinasi ditunda dan dirujuk</td>
          </tr>
        <!-- </table>
        <p style="page-break-after:always;"></p>
        <table style="width: 100%; border: 1px solid black; border-collapse: collapse;"> -->
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td colspan="5"><b><i style="margin-left:10px">Pertanyaan Nomor 7 dilanjutkan apabila terdapat penilaian kelemahan fisik pada sasaran vaksinasi.</i></b></td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="text-align:left; vertical-align: top; width:5%; border: 1px solid black; border-collapse: collapse;">7</td>
            <td style="text-align:left; vertical-align: top; width:45%; border: 1px solid black; border-collapse: collapse;">Pertanyaan tambahan bagi sasaran lansia (≥ 60 tahun):<br>
                1. Apakah Anda mengalami kesulitan untuk naik 10 anak tangga?<br>
                2. Apakah Anda sering merasa kelelahan?<br>
                3. Apakah Anda memiliki paling sedikit 5 dari 11 penyakit (hipertensi, diabetes, kanker, penyakit paru kronis, serangan jantung, gagal jantung kongestif, nyeri dada, asma, nyeri sendi, stroke dan penyakit ginjal)?<br>
                4. Apakah Anda mengalami kesulitan berjalan kira-kira 100 sampai 200 meter?<br>
                5. Apakah Anda mengalami penurunan berat badan yang bermakna dalam setahun terakhir<br>
            </td>
            <td style="text-align:left; vertical-align: top;width:10%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.Pertanyaan7 ? 'X' : ''}}</td>
            <td style="text-align:left; width:15%; border: 1px solid black; border-collapse: collapse; text-align: center;">{{Model.Pertanyaan7 ? '' : 'X'}}</td>
            <td style="text-align:left; vertical-align: top; width:25%; border: 1px solid black; border-collapse: collapse;">Jika teradapat 3 atau lebih jawaban Ya maka vaksinasi tidak dapat diberikan</td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td colspan="4" style="text-align:left; vertical-align: top; width:75%; border: 1px solid black; border-collapse: collapse;">
                <b style="margin-left:10px">HASIL SKRINNING :</b> <br>
                <svg style="margin-left:20px; margin-top:5x; margin-right: 5px;" width="22" height="20">
                    <rect width="20" height="20" style="fill:rgb(255,255,255);stroke-width:3;stroke:rgb(0,0,0)" />
                    <span v-if="Model.HasilScreening == 1" style="position: absolute; left: 35;">X</span>
                </svg>
                <b style="vertical-align: center;">LANJUT VAKSIN</b><br>
                <svg style="margin-left:20px; margin-top:5x; margin-right: 5px;" width="22" height="20">
                    <rect width="20" height="20" style="fill:rgb(255,255,255);stroke-width:3;stroke:rgb(0,0,0)" />
                    <span v-if="Model.HasilScreening == 2" style="position: absolute; left: 35;">X</span>
                </svg>
                <b style="vertical-align: center;">TUNDA</b><br>
                <svg style="margin-left:20px; margin-top:5x; margin-right: 5px;" width="22" height="20">
                    <rect width="20" height="20" style="fill:rgb(255,255,255);stroke-width:3;stroke:rgb(0,0,0)" />
                    <span v-if="Model.HasilScreening == 3" style="position: absolute; left: 35;">X</span>
                </svg>
                <b style="vertical-align: center;">TIDAK DIBERIKAN</b><br>
            </td>
            <td style="text-align:left; vertical-align: top; width:25%; border: 1px solid black; border-collapse: collapse;">Paraf Petugas</td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td colspan="5"><b style="margin-left:10px">HASIL VAKSINASI</b></td>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td colspan="2" style="text-align:left; vertical-align: top; width:30%; border: 1px solid black; border-collapse: collapse;">
                Jenis Vaksin:<br>
                No. Batch:<br>
                Tanggal Vaksinasi:<br>
                Jam Vaksinasi:<br>
            </td>
            <td colspan="2" style="text-align:left; vertical-align: top; width:40%">
              {{Model.JenisVaksin}} <br>
              {{Model.NomorBatch}} <br>
              {{ momentDateFormatting(Model.TanggalBatch, "DD MMM YYYY") }}<br>
              {{Model.JamVaksin}}
            </td>
            <td style="text-align:left; vertical-align: top; width:30%; border: 1px solid black; border-collapse: collapse;">Paraf Petugas</td>
          </tr>
        </table>

        <h5 style="margin-bottom: 0px;">C.	MEJA 2: PENCATATAN DAN OBSERVASI</h5>

        <table style="width: 100%; border: 1px solid black; border-collapse: collapse;">
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <th colspan="2" style="text-align:left">HASIL OBSERVASI</th>
          </tr>
          <tr style="border: 1px solid black; border-collapse: collapse;">
            <td style="text-align:left; vertical-align: top; width:75%; border: 1px solid black; border-collapse: collapse;">
                <svg style="margin-left:20px; margin-top:5x; margin-right: 5px;" width="22" height="20">
                    <rect width="20" height="20" style="fill:rgb(255,255,255);stroke-width:3;stroke:rgb(0,0,0)" />
                </svg>
                <label style="vertical-align: center;">Tanpa Keluhan</label><br>
                <svg style="margin-left:20px; margin-top:5x; margin-right: 5px;" width="22" height="20">
                    <rect width="20" height="20" style="fill:rgb(255,255,255);stroke-width:3;stroke:rgb(0,0,0)" />
                </svg>
                <label style="vertical-align: center;">Ada Keluhan. Sebutkan keluhan jika ada, ..............</label>
            </td>
            <td style="text-align:left; vertical-align: top; width:25%; border: 1px solid black; border-collapse: collapse;">Paraf Petugas</td>
          </tr>
        </table>
      </div>
    </div>
    <iframe
      name="print_frame"
      id="print_frame"
      width="0"
      height="0"
      frameborder="0"
      src="about:blank"
    />
  </div>
</template>

<script>

export default {
  data() {
    return {
      Nama: '',
      NIK: '',
      No_HP: '',
      Tgl_Lahir: '',
      Jenis_Kelamin: '',
      Tipe_Vaksin: '',
      Vaksin_Primer: '',
      Model: {
        JenisVaksin: '',
        NomorBatch: '',
        TanggalBatch: '',
        JamVaksin: '',
        Suhu: '',
        TensiDarah: '',
        Pertanyaan1a: '',
        Pertanyaan1b: '',
        Pertanyaan2: '',
        Pertanyaan3: '',
        Pertanyaan4: '',
        Pertanyaan5: '',
        Pertanyaan6: '',
        Pertanyaan71: '',
        Pertanyaan72: '',
        Pertanyaan73: '',
        Pertanyaan74: '',
        Pertanyaan75: '',
        HasilScreening: '',
        Pertanyaan7: false
      },
      
      PI_JenisVaksin: {
        dataLookUp: {},
        cValidate: "required",
        cName: "Jenis Vaksin",
        ckey: false,
        cOrder: 1,
        cProtect: false,
        cParentForm: "FormEntry",
        cStatic: true,
        cOption: [
          { id: "Sinovac", label: "Sinovac"},
          { id: "Astrazeneca", label: "Astrazeneca"},
          { id: "Moderna", label: "Moderna"},
          { id: "Sinopharm", label: "Sinopharm"},
          { id: "Pfizer", label: "Pfizer"},
          { id: "Janssen", label: "Janssen"},
        ],
        cDisplayColumn: "",
        cInputStatus: "new",
        multiple: false
      },
      PI_NomorBatch: {
        cValidate: "required",
        cName: "Suhu",
        cOrder: 2,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new",
      },
      PI_TanggalBatch: {
        cValidate: "",
        cName: 'Tanggal Batch',
        cOrder: 3,
        cProtect: false,
        cWithTime: false,
        cFormat: "dd/MM/yyyy",
        cParentForm: 'FormEntry',
      },
      PI_JamVaksin: {
          cValidate: "",
          cName: 'Jam Vaksin',
          cOrder: 4,
          cKey: false,
          cFormat: 'HH:mm',
          cProtect: false,
          cParentForm: 'FormEntry',
          cDecimal: 2,
      },
      PI_Suhu: {
        cValidate: "required",
        cName: "Suhu",
        cOrder: 5,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new",
        cStyle: "height: 50px !important;"
      },
      PI_TensiDarah: {
        cValidate: "required",
        cName: "Tensi Darah",
        cOrder: 6,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new",
        cStyle: "height: 50px !important;"
      },
      PI_Pertanyaan1a: {
        cValidate: "required",
        cName: "pertanyaan1a",
        cId: "rdbpertanyaan1a",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: false,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan1b: {
        cValidate: "required",
        cName: "pertanyaan1b",
        cId: "rdbpertanyaan1b",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: false,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan2: {
        cValidate: "required",
        cName: "pertanyaan2",
        cId: "rdbpertanyaan2",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: false,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan3: {
        cValidate: "required",
        cName: "pertanyaan3",
        cId: "rdbpertanyaan3",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: false,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan4: {
        cValidate: "required",
        cName: "pertanyaan4",
        cId: "rdbpertanyaan4",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: false,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan5: {
        cValidate: "required",
        cName: "pertanyaan5",
        cId: "rdbpertanyaan5",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: false,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan6: {
        cValidate: "required",
        cName: "pertanyaan6",
        cId: "rdbpertanyaan6",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: false,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan71: {
        cValidate: "required",
        cName: "pertanyaan71",
        cId: "rdbpertanyaan71",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: false,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan72: {
        cValidate: "required",
        cName: "pertanyaan72",
        cId: "rdbpertanyaan72",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: false,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan73: {
        cValidate: "required",
        cName: "pertanyaan73",
        cId: "rdbpertanyaan73",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: false,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan74: {
        cValidate: "required",
        cName: "pertanyaan74",
        cId: "rdbpertanyaan74",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: false,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_Pertanyaan75: {
        cValidate: "required",
        cName: "Pertanyaan75",
        cId: "rdbPertanyaan75",
        cRadioOptions: [
          { text: "Yes", value: true },
          { text: "No", value: false },
        ],
        cRadioDefaultOption: false,
        cOrder: 2,
        cProtect: false,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: false,
      },
      PI_HasilScreening: {
        cValidate: "required",
        cName: "hasilscreening",
        cId: "rdbhasilscreening",
        cRadioOptions: [
          { text: "Lanjut", value: 1 },
          { text: "Tunda", value: 2 },
          { text: "Tidak Diberikan", value: 3 },
        ],
        cRadioDefaultOption: "G",
        cOrder: 2,
        cProtect: false,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: true,
      },
    };
  },
  computed: {
    paramFromList() {
      let param = this.$store.getters.getParamPage;
      return param;
    }
  },
  methods: {    
    doOpenReject(){
      this.$refs.modalReject.show();
    },
    doReject(data){      
      this.doSaveVerifikasi(data);
    },
    doBack() {
      this.$router.go(-1);
    },
    OnJenisVaksinChange(data) {
      this.$nextTick(() => {
        this.Model.JenisVaksin = data.id;
      })

      this.$forceUpdate();
    },
    loadDefautlValue(){
      this.Model = {
        Pertanyaan1a: false,
        Pertanyaan1b: false,
        Pertanyaan2: false,
        Pertanyaan3: false,
        Pertanyaan4: false,
        Pertanyaan5: false,
        Pertanyaan6: false,
        Pertanyaan71: false,
        Pertanyaan72: false,
        Pertanyaan73: false,
        Pertanyaan74: false,
        Pertanyaan75: false,
        HasilScreening: 1,
      }
    },
    getData(){
      this.loadDefautlValue();
      const data = this.paramFromList;      
      this.Nama = data.name;
      this.NIK = data.nik;
      this.No_HP = data.handphone_no;
      this.Tgl_Lahir = data.dob;
      this.Tipe_Vaksin = data.vaccine_category;
      this.Vaksin_Primer = data.vaccine_primary;
      this.Alamat = data.address;
      this.Model.Suhu = data.temperature;
      this.Model.TensiDarah = data.blood_pressure;
      this.Model.Pertanyaan1a = data.question1a ? true : false;
      this.Model.Pertanyaan1b = data.question1b ? true : false;
      this.Model.Pertanyaan2 = data.question2 ? true : false;
      this.Model.Pertanyaan3 = data.question3 ? true : false;
      this.Model.Pertanyaan4 = data.question4 ? true : false;
      this.Model.Pertanyaan5 = data.question5 ? true : false;
      this.Model.Pertanyaan6 = data.question6 ? true : false;
      this.Model.Pertanyaan71 = data.question7a ? true : false;
      this.Model.Pertanyaan72 = data.question7b ? true : false;
      this.Model.Pertanyaan73 = data.question7c ? true : false;
      this.Model.Pertanyaan74 = data.question7d ? true : false;
      this.Model.Pertanyaan75 = data.question7e ? true : false;
      this.Model.HasilScreening = data.screening_result ? data.screening_result : 1;
      this.Model.JenisVaksin = data.vaccine_type;
      this.Model.NomorBatch = data.batch_no;
      this.Model.TanggalBatch = data.vaccine_date_time ? this.momentUnix(data.vaccine_date_time, 'YYYY-MM-DD') : null;
      this.Model.JamVaksin = data.vaccine_date_time ? this.momentUnix(data.vaccine_date_time, 'HH:mm:ss') : null; 

      var pertanyaan7 = 0;
      if(this.Model.Pertanyaan71) {
        pertanyaan7 += 1;
      }
      if(this.Model.Pertanyaan72) {
        pertanyaan7 += 1;
      }
      if(this.Model.Pertanyaan73) {
        pertanyaan7 += 1;
      }
      if(this.Model.Pertanyaan74) {
        pertanyaan7 += 1;
      }
      if(this.Model.Pertanyaan75) {
        pertanyaan7 += 1;
      }
      if(pertanyaan7 >= 3) {
        this.Model.Pertanyaan7 = true;
      } else {
        this.Model.Pertanyaan7 = false;
      }
    },
    doSaveVerifikasi(data = '') {
      let param = {
          nik: this.NIK,
          site_id: this.paramFromList.site_id,
          reject_description: data,
          temperature: this.Model.Suhu,
          blood_pressure: this.Model.TensiDarah,
          is_screening: true,
          question1a: this.Model.Pertanyaan1a,
          question1b: this.Model.Pertanyaan1b,
          question2: this.Model.Pertanyaan2,
          question3: this.Model.Pertanyaan3,
          question4: this.Model.Pertanyaan4,
          question5: this.Model.Pertanyaan5,
          question6: this.Model.Pertanyaan6,
          question7a: this.Model.Pertanyaan71,
          question7b: this.Model.Pertanyaan72,
          question7c: this.Model.Pertanyaan73,
          question7d: this.Model.Pertanyaan74,
          question7e: this.Model.Pertanyaan75,
          screening_result: this.Model.HasilScreening,
        };

        this.postJSON(this.url + 'update-status-screening-user', param, true).then((response) => {
          if (response == null) return; 
          this.$router.push({ name: 'Screening' });
        });
    },
    doPrint() {
      window.frames[
        "print_frame"
      ].document.body.innerHTML = document.getElementById("forPrint").innerHTML;
      window.frames["print_frame"].window.focus();
      window.frames["print_frame"].window.print();
    },
  },
  mounted() {    
    this.getData();
  },
  created() {}
};
</script>