<template>
  <div>
    <div class="header" @click="doBack">
      <img :src="require('@/assets/icon-svg/ic_arrow_left.svg')" alt="" style="margin: 16px;">
      Menu
    </div>
    <div class="dashboard-page-chart">
      <div class="dashboard-page-chart__body" style="text-align: right; font-size: 24px; font-weight: 700; padding-right: 20px; background-color: white;">
        Pilih Site
      </div>
      <div style="padding-left: 7px; padding-right: 7px; background: white;">
        <b-row hidden style="background: white; border-bottom: solid 2px #E0E0E0; padding-bottom: 10px;">
          <b-col cols="4">
            <span style="height: 20px; background-color:#F2994A; border-radius: 3px; color: #F2994A;">XX</span>
            Available
          </b-col>
          <b-col cols="4">
            <span style="height: 20px; background-color:#56CCF2; border-radius: 3px; color: #56CCF2;">XX</span>
            On Progress
          </b-col>
          <b-col cols="4">
            <span style="height: 20px; background-color:#27AE60; border-radius: 3px; color: #27AE60;">XX</span>
            Complete
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">            
              <b-form-input
                id="txtSearch"
                v-model="search"
                type="text"
                placeholder="Cari Site"
                v-shortkey.focus="['f1']"
                class=""
                @keyup.enter.native="onSearchEnter"
                autocomplete="off"                
                style="height: 42px; background: #F2F2F2;"
              ></b-form-input>
              <img style="position: absolute; top: 14px; right: 12px;"
                :src="search? require('@/assets/icon-svg/clear.svg') : require('@/assets/icon-svg/clear.svg')"
                :style="search? 'cursor: pointer;': ''"
                @click="clearSearch"
                alt 
              />
          </b-col>
        </b-row>
        <template v-for="(data, i) in dataSite">
          <div v-bind:key="i">
            <b-row v-if="data.name !== null" :class="i % 2 == 0 ? 'stripe-white' : 'stripe-grey'" @click="goToDashboard(data)">
              <b-col class="ellipse-text" style="font-weight: bold;">
                {{ data.site_name }}
              </b-col>
              <b-col cols="4" style="text-align: end; color: #D6AA03;">
                Choose <img :src="require('@/assets/icon-svg/right_arrow_brown.svg')" alt="" style="margin-left: 10px;">
              </b-col>
            </b-row>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      dataSite: [],
      search: '',    
    };
  },
  computed: {},
  methods: {
    clearSearch() {
      this.search = '';
      this.getDataSite();
    },
    onSearchEnter() {
        const data = this.dataSite;
        const search = this.search;
        const result = data.filter(function(item) {
            return item.site_name.toLowerCase().indexOf(search.toLowerCase()) > -1;
        });
        this.dataSite = result;
    },
    doBack() {
      this.$router.push("/");
    },
    goToDashboard(data) {
      let dataUser = this.getDataUser();
      dataUser.site = {...data};
      localStorage.lsDataUser = JSON.stringify(dataUser);
      this.$router.replace({ path: "/" });
    },
    getDataSite(){
      let param = {
          admin_id: this.getDataUser().admin_id,
        };

        this.postJSON(this.url + 'get-site-list', param, true).then((response) => {
          if (response == null) return; 
          this.dataSite = response.data;
        });
    }    
  },
  mounted() {
    this.getDataSite();
  },
  created() {
  }
};
</script>