<template>
  <div>
    <div class="header" @click="doBack">
      <b-row>
        <b-col style="text-align: left; padding: unset !important;">
          <img :src="require('@/assets/icon-svg/ic_arrow_left.svg')" alt="" style="margin: 16px;">
          Kembali
        </b-col>
        <b-col cols="6" style="text-align: right; margin: 6px 10px; font-weight: 700; font-size: 24px;">
          Tensi
        </b-col>
      </b-row>
    </div>
    <div class="dashboard-page-chart">
      <div class="dashboard-page-chart__body" style="background-color: white;">
        <div style="border: 1px solid rgb(170 172 177); border-radius: 3px; padding: 10px; margin: 10px;">
          <b-row style="margin-bottom: 5px;">
            <b-col cols="5" class="indicator-info">Nama</b-col>
            <b-col cols="7" style="font-weight: bold;"> {{ Nama }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="5" class="indicator-info">NIK</b-col>
            <b-col cols="7"> {{ NIK }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="5" class="indicator-info">No Handphone</b-col>
            <b-col cols="7"> {{ No_HP }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="5" class="indicator-info">Tanggal Lahir</b-col>
            <b-col cols="7"> {{ momentDateFormatting(Tgl_Lahir, "DD MMM YYYY") }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="5" class="indicator-info">Jenis Kelamin</b-col>
            <b-col cols="7"> {{ Jenis_Kelamin == 'M' ? 'Laki-laki' : 'Perempuan' }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="5" class="indicator-info">Tipe Vaksin</b-col>
            <b-col cols="7"> {{ Tipe_Vaksin }} </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col cols="5" class="indicator-info">Vaksin Primer</b-col>
            <b-col cols="7"> {{ Vaksin_Primer }} </b-col>
          </b-row>
        </div>
        <b-form :data-vv-scope="'FormEntry'" :data-vv-value-path="'FormEntry'">
          <div style="margin: 5px;">
            <b-row>
              <b-col cols="6">
                <label class="lbl-bold">Suhu</label>
                <ACCTextBox
                  :prop="PI_Suhu"
                  v-model="Model.Suhu"
                  ref="ref_Suhu"
                />
              </b-col>
              <b-col cols="6">
                <label class="lbl-bold">Tensi Darah</label>
                <ACCTextBox
                  :prop="PI_TensiDarah"
                  v-model="Model.TensiDarah"
                  ref="ref_TensiDarah"
                />
              </b-col>
            </b-row>
          </div>
          <div style="margin: 5px; margin-top: 50px;">
            <b-row>
              <b-col cols="6">
                <ABSButton
                  :text="'Lanjut'"
                  classButton="btn btn--default"
                  classIcon="icon-style-1"
                  styleButton="width: 100%; height: 40px; font-size: 14px !important; border-radius: 5px !important; margin-right: 0px !important;"
                  @click="doSaveTensi('approve')"
                />
              </b-col>
              <b-col cols="6" style="text-align: end;">
                <ABSButton
                  :text="'Tolak'"
                  classButton="btn btn--red"
                  classIcon="icon-style-1"
                  styleButton="width: 100%; height: 40px; font-size: 14px !important; color: white; border-radius: 5px !important; margin-right: 0px !important;"
                  @click="doOpenReject"
                />
              </b-col>
            </b-row>
          </div>
        </b-form>
      </div>      
    </div>
    <Reason ref="modalReject" @onBack="doBack" @onSave="doReject"/>
  </div>
</template>

<script>

export default {
  data() {
    return {
      Nama: '',
      NIK: '',
      No_HP: '',
      Tgl_Lahir: '',
      Alamat: '',
      Jenis_Kelamin: '',
      Tipe_Vaksin: '',
      Vaksin_Primer: '',
      Model: {
        Suhu: '',
        TensiDarah: '',
      },
      PI_Suhu: {
        cValidate: "required",
        cName: "Suhu",
        cOrder: 1,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new",
        cStyle: "height: 50px !important;"
      },
      PI_TensiDarah: {
        cValidate: "required",
        cName: "Tensi Darah",
        cOrder: 2,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new",
        cStyle: "height: 50px !important;"
      },
    };
  },
  computed: {
    paramFromList() {
      let param = this.$store.getters.getParamPage;
      return param;
    }
  },
  methods: {
    doOpenReject(){
      this.$refs.modalReject.show();
    },
    doReject(data){      
      this.doSaveTensi('reject', data);
    },
    doBack() {
      this.$router.go(-1);
    },
    getData(){      
      const data = this.paramFromList;        
      this.Nama = data.name;
      this.NIK = data.nik;
      this.No_HP = data.handphone_no;
      this.Tgl_Lahir = data.dob;
      this.Alamat = data.address;
      this.Jenis_Kelamin = data.gender;
      this.Tipe_Vaksin = data.vaccine_category;
      this.Vaksin_Primer = data.vaccine_primary;
      this.Model.Suhu = data.temperature;
      this.Model.TensiDarah = data.blood_pressure;
    },
    doSaveTensi(is_tention, data = '') {
      let param = {
          nik: this.NIK,
          site_id: this.paramFromList.site_id,
          reject_description: data,
          temperature: this.Model.Suhu,
          blood_pressure: this.Model.TensiDarah,
          is_tension: is_tention == 'approve' ? true : false,
        };

        this.postJSON(this.url + 'update-status-tension-user', param, true).then((response) => {
          if (response == null) return; 
          this.$router.push({ name: 'Tensi' });
        });
    },
  },
  mounted() {
    this.getData();
  },
  created() {
  }
};
</script>