<template>
  <div>
    <div class="header">
      <b-row>
        <b-col style="padding: unset !important;">
          <img :src="require('@/assets/icon-svg/ic_arrow_left.svg')" alt="" style="margin: 16px; font-size: 12px;" @click="doBack">
          Menu
        </b-col>
        <b-col style="margin-top: 6px; margin-right: 16px; text-align: right; font-size: 24px; font-weight: 700;">
          Upload
        </b-col>
      </b-row>
    </div>
    <b-form :data-vv-scope="'FormEntry'" :data-vv-value-path="'FormEntry'">
      <div style="margin: 0 20px; margin-top: 25px !important;">
        <b-row>
          <b-col>
            <label class="lbl-bold" style="color: #2D9CDB;">Nama</label>
            <ACCTextBox
              :prop="PI_Name"
              v-model="Model.name"
              ref="ref_name"
            />
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <label class="lbl-bold" style="color: #2D9CDB;">NIK</label>
            <ACCTextBox
              :prop="PI_NIK"
              v-model="Model.nik"
              ref="ref_nik"
            />
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <label class="lbl-bold" style="color: #2D9CDB;">No Handphone</label>
            <ACCTextBox
              :prop="PI_NoHandphone"
              v-model="Model.handphone_no"
              ref="ref_handphone_no"
            />
          </b-col>
        </b-row>
        <b-row>
          <b-col style="padding-right: unset !important;">
            <label class="lbl-bold" style="color: #2D9CDB;">Tanggal Lahir</label>
            <ACCDateTime
              :prop="PI_dob"
              v-model="Model.dob"
              ref="ref_dob"
            />
          </b-col>
        </b-row>
        <b-row>
          <b-col style="padding-right: unset !important; margin-top: 15px;">
            <ACCRadioButton
              @input="OnBerhasilChange"
              :prop="PI_Berhasil"
              v-model="Model.Berhasil"
              ref="ref_Berhasil"
            />
          </b-col>
        </b-row>
        <b-row style="margin-top: 15px;">
          <b-col>
            <ACCTextArea :prop="PI_Remarks" v-model="Model.Remarks" ref="ref_Remarks" />
          </b-col>
        </b-row>
      </div>
      <div style="margin: 25px 20px; padding-bottom: 25px;">
        <b-row>
          <b-col>
            <ABSButton
              :text="'Simpan'"
              classButton="btn btn--default"
              classIcon="icon-style-1"
              styleButton="width: 100%; height: 40px; font-size: 14px !important; border-radius: 5px !important;"
              @click="daftar"
            />
          </b-col>
        </b-row>
      </div>
    </b-form>
  </div>
</template>

<script>

export default {
  data() {
    return {
      Model: {
        name: "",
        nik: "",
        handphone_no: "",
        dob: "",
        Berhasil: true,
        Remarks: ""
      },
      PI_Name: {
        cValidate: "required",
        cName: "Nama",
        cOrder: 1,
        cKey: false,
        cType: "text",
        cProtect: true,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new",
        cStyle: "height: 45px !important; font-size: 16px !important"
      },
      PI_NIK: {
        cValidate: "required",
        cName: "NIK",
        cOrder: 2,
        cKey: false,
        cType: "text",
        cProtect: true,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new",
        cStyle: "height: 45px !important; font-size: 16px !important"
      },
      PI_NoHandphone: {
        cValidate: "required",
        cName: "No Handphone",
        cOrder: 3,
        cKey: false,
        cType: "tel",
        cProtect: true,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new",
        cStyle: "height: 45px !important; font-size: 16px !important"
      },
      PI_dob : {
        cValidate: '',
        cName: 'Tanggal Lahir',
        cOrder: 4,
        cProtect: true,
        cFormat: "dd/MM/yyyy",
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cStyle: "height: 45px !important; font-size: 16px !important"
      },
      PI_Berhasil: {
        cValidate: "required",
        cName: "Berhasil",
        cId: "berhasil",
        cRadioOptions: [
          { text: "Berhasil", value: true },
          { text: "Tidak Berhasil", value: false },
        ],
        cRadioDefaultOption: "G",
        cOrder: 5,
        cProtect: false,
        cVisible: true,
        cParentForm: "FormEntry",
        cInputStatus: "new",
        cGroup: true,
      },
      PI_Remarks: {
        cValidate: "",
        cName: "Remarks",
        cOrder: 6,
        cKey: false,
        cProtect: true,
        cResize: false,
        cReadonly: false,
        cRows: 5,
        cMaxRows: 5,
        cSize: "md",
        cParentForm: "FormEntry",
        cStyle: "font-size: 16px !important"
      },
    };
  },
  computed: {
    paramFromList() {
      return this.$store.getters.getParamPage;
    },
  },
  methods: {
    OnBerhasilChange(){
      if (this.Model.Berhasil) {
        this.PI_Remarks.cProtect = true;
      } else {
        this.PI_Remarks.cProtect = false;
      }
    },
    daftar() {
      this.$validator._base
      .validateAll("FormEntry")
      .then((result) => {
        if (!result) return;
        this.alertConfirmation("Apakah anda yakin ingin menyimpan?").then(
          (ress) => {
            if (ress.value) {
              this.$validator.errors.clear("FormEntry");
              this.M_Save();
            }
          }
        );
      });
    },
    M_Save() {
      if (this.Model.Berhasil) {
        this.Model.Remarks = ""
      }
      let param = {
        nik: this.Model.nik,
        site_id: this.getDataUser().site.site_id,
        is_upload: this.Model.Berhasil,
        upload_reject_description: this.Model.Remarks,        
      };
      console.log(param)

      this.postJSON(this.url + 'update-data-upload-user', param).then((response) => {
        if (response == null) return;
        this.$router.go(-1);
      });
    },
    OnKtpChange(data) {
      this.Model.ktp_image = data.url;
    },
    onImageLoadFailure(event) {
    },
  },
  mounted() {
    this.Model = {
      name: this.paramFromList.name,
      nik: this.paramFromList.nik,
      handphone_no: this.paramFromList.handphone_no,
      dob: this.paramFromList.dob,
      Berhasil: true
    };
  },
  created() {
  }
};
</script>