<template>
  <div>
    <b-row style="padding-top: 12px;">
        <b-col style="text-align: left; margin-left: 16px;">
          <span @click="showLogOut" class="dashboard-logout-location">Log Out</span>
        </b-col>
        <b-col style="text-align: right; margin-right: 16px;">
          <span @click="adduser" class="dashboard-logout-location">add user</span>
        </b-col>
      </b-row>
    <div class="dashboard-page-chart">
      <div class="dashboard-page-chart__body" style="background-color: white;">
        <b-row>
          <b-col cols="6">
            <div class="indicator-title">
              GET ALL USERS
            </div>
          </b-col>
        </b-row>
      </div>
      <div style="padding-left: 7px; padding-right: 7px; background: white;">
        <template v-for="(data, i) in dataTensi">
          <div v-bind:key="i">            
            <b-row v-if="data.username !== null" :class="i % 2 == 0 ? 'stripe-white' : 'stripe-grey'" @click="goToDetail(data)">
              <b-col class="ellipse-text">
                <span>{{ data.username }}</span>
              </b-col>
              <b-col cols="1" style="text-align: end; margin: auto;">
                <img :src="require('@/assets/icon-svg/left.svg')" alt="" style="margin-left: 10px;">
              </b-col>
            </b-row>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      totalVaksin: 0,
      dataTensi: [],
      search: '',
    };
  },
  computed: {},
  methods: {
    showLogOut() {
      this.doClearLocalStorage();
      this.$router.replace({
        path: '/sign-in'
      });
    },
    adduser() {
      const param = {
        statusForm: 'add',
      }
      this.$store.commit("setParamPage", param);
      this.$router.push("/user");
    },
    doBack() {
      this.$router.push("/");
    },
    goToDetail(data) {
      this.$store.commit("setParamPage", data);
      this.$router.push({ name: 'user' });
    },
    getDataVaksin(){
      let param = {
        };

        this.getJSON('https://fakestoreapi.com/users', {
          headers: {
            Token: this.getSession().Session_Id
          }
        }).then((response) => {
          if (response == null) return; 
          this.dataTensi = response;
        });
    }    
  },
  mounted() {
    this.getDataVaksin();
  },
  created() { }
};
</script>