<template>
  <div>
    <div class="header" @click="doBack">
      <img :src="require('@/assets/icon-svg/ic_arrow_left.svg')" alt="" style="margin: 16px;">
      Kembali
    </div>
    <div class="dashboard-page-chart">
      <div class="dashboard-page-chart__body" style="background-color: white;">
        <b-form :data-vv-scope="'FormEntry'" :data-vv-value-path="'FormEntry'">
          <div style="margin: 5px;">
            <b-row>
              <b-col cols="12">
                <label class="lbl-bold">username</label>
                <ACCTextBox
                  :prop="PI_username"
                  v-model="Model.username"
                  ref="ref_username"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <label class="lbl-bold">email</label>
                <ACCTextBox
                  :prop="PI_email"
                  v-model="Model.email"
                  ref="ref_email"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <label class="lbl-bold">first name</label>
                <ACCTextBox
                  :prop="PI_firstname"
                  v-model="Model.firstname"
                  ref="ref_firstname"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <label class="lbl-bold">last name</label>
                <ACCTextBox
                  :prop="PI_lastname"
                  v-model="Model.lastname"
                  ref="ref_lastname"
                />
              </b-col>
            </b-row>

            <b-row>
              <b-col cols="12">
                <label class="lbl-bold">phone</label>
                <ACCTextBox
                  :prop="PI_phone"
                  v-model="Model.phone"
                  ref="ref_phone"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <label class="lbl-bold">city</label>
                <ACCTextBox
                  :prop="PI_city"
                  v-model="Model.city"
                  ref="ref_city"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <label class="lbl-bold">street</label>
                <ACCTextBox
                  :prop="PI_street"
                  v-model="Model.street"
                  ref="ref_street"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <label class="lbl-bold">number</label>
                <ACCTextBox
                  :prop="PI_number"
                  v-model="Model.number"
                  ref="ref_number"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <label class="lbl-bold">zipcode</label>
                <ACCTextBox
                  :prop="PI_zipcode"
                  v-model="Model.zipcode"
                  ref="ref_zipcode"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <label class="lbl-bold">lat</label>
                <ACCTextBox
                  :prop="PI_lat"
                  v-model="Model.lat"
                  ref="ref_lat"
                />
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12">
                <label class="lbl-bold">long</label>
                <ACCTextBox
                  :prop="PI_long"
                  v-model="Model.long"
                  ref="ref_long"
                />
              </b-col>
            </b-row>
          </div>
          
          <template v-if="paramFromList.statusForm != 'add'">
            <div style="margin: 5px;">
              <b-row>
                <b-col cols="6">
                  <ABSButton
                    :text="'update'"
                    classButton="btn btn--default"
                    classIcon="icon-style-1"
                    styleButton="width: 100%; height: 40px; font-size: 14px !important; color: white; border-radius: 5px !important; margin-right: 0px !important;"
                    @click="doUpdate"
                  />
                </b-col>
                <b-col cols="6" style="text-align: end;">
                  <ABSButton
                    :text="'delete'"
                    classButton="btn btn--red"
                    classIcon="icon-style-1"
                    styleButton="width: 100%; height: 40px; font-size: 14px !important; color: white; border-radius: 5px !important; margin-right: 0px !important;"
                    @click="doDelete"
                  />
                </b-col>
              </b-row>
            </div>
          </template>
          <template v-else>
          <b-row>
            <b-col>
              <ABSButton
                :text="'Daftar'"
                classButton="btn btn--default"
                classIcon="icon-style-1"
                styleButton="width: 100%; height: 40px; font-size: 14px !important; color: white; border-radius: 5px !important;"
                @click="daftar"
              />
            </b-col>
          </b-row>
        </template>
        </b-form>
      </div>
    </div>    
  </div>
</template>

<script>

export default {
  data() {
    return {
      Model: {
        username: '',
        email:'',
        firstname:'',
        lastname:'',
        phone:'',
        city: '',
        street: '',
        number: '',
        zipcode: '',
        lat: '',
        long: '',
        id:'',
      },
      
      PI_username: {
        cValidate: "required",
        cName: "username",
        cOrder: 1,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
      },
      PI_email: {
        cValidate: "required",
        cName: "email",
        cOrder: 1,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_firstname: {
        cValidate: "required",
        cName: "firstname",
        cOrder: 1,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_lastname: {
        cValidate: "required",
        cName: "lastname",
        cOrder: 1,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_phone: {
        cValidate: "required",
        cName: "phone",
        cOrder: 1,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_city: {
        cValidate: "required",
        cName: "city",
        cOrder: 1,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_street: {
        cValidate: "required",
        cName: "street",
        cOrder: 1,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_number: {
        cValidate: "required",
        cName: "number",
        cOrder: 1,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_zipcode: {
        cValidate: "required",
        cName: "zipcode",
        cOrder: 1,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_lat: {
        cValidate: "required",
        cName: "lat",
        cOrder: 1,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new"
      },
      PI_long: {
        cValidate: "required",
        cName: "long",
        cOrder: 1,
        cKey: false,
        cType: "text",
        cProtect: false,
        cParentForm: "FormEntry",
        cDecimal: 2,
        cInputStatus: "new"
      },
    };
  },
  computed: {
    paramFromList() {
      let param = this.$store.getters.getParamPage;
      return param;
    }
  },
  methods: {
    doBack() {
      this.$router.go(-1);
    },
    doOpenReject(){
      this.$refs.modalReject.show();
    },
    getData(){
      const data = this.paramFromList;
      this.Model.username = data.username;
      this.Model.email = data.email;
      this.Model.firstname = data.name.firstname;
      this.Model.lastname = data.name.lastname;
      this.Model.phone = data.phone;
      this.Model.city = data.address.city
      this.Model.street = data.address.street,
      this.Model.number = data.address.number,
      this.Model.zipcode = data.address.zipcode,
      this.Model.lat = data.address.geolocation.lat,
      this.Model.long = data.address.geolocation.long,
      this.Model.id = data.id;
    },
    daftar() {
      let param = {
        username : this.Model.username,
        email : this.Model.email,
        firstname : this.Model.firstname,
        lastname : this.Model.lastname,
        phone : this.Model.phone,
        city : this.Model.city,
        street : this.Model.street,
        number : this.Model.number,
        zipcode : this.Model.zipcode,
        lat : this.Model.lat,
        long : this.Model.long
      }
      this.postJSON('https://fakestoreapi.com/users/', param, true).then((response) => {
          if (response == null) return; 
          this.$router.replace({ name: 'VerifikasiVaksin' });
        });

    },
    doUpdate(){
      let param = {
        username : this.Model.username,
        email : this.Model.email,
        firstname : this.Model.firstname,
        lastname : this.Model.lastname,
        phone : this.Model.phone,
        city : this.Model.city,
        street : this.Model.street,
        number : this.Model.number,
        zipcode : this.Model.zipcode,
        lat : this.Model.lat,
        long : this.Model.long
      }
      this.postJSON('https://fakestoreapi.com/users/' + this.Model.id, param, true).then((response) => {
          if (response == null) return; 
          this.$router.replace({ name: 'VerifikasiVaksin' });
        });
    },
    doDelete(data) {
        this.deleteJSON('https://fakestoreapi.com/users/' + data.id, param, true).then((response) => {
          if (response == null) return; 
          this.$router.replace({ name: 'VerifikasiVaksin' });
        });
    },
  },
  mounted() {
    this.getData();
  },
  created() {}
};
</script>