<template>
  <router-view/>
</template>

<style lang="scss">
@import '@/assets/scss/application.scss';
</style>

<script>
export default {
  watch: {
    $route: async function(to, from) {
      this.checkAuth(to.meta.requiredAuth);
    },
  },
  methods: {
    checkAuth(requiredAuth) {
      if (requiredAuth) {
        if (this.getDataUser() == undefined) {
          this.$router.replace({ path: "/sign-in" });
        }
      }
    },
  },
  mounted() {
    this.checkAuth(this.$route.meta.requiredAuth);
  },
}
</script>