<template>
<div class="modal-menu" :style="`display: ${isShow? 'block;': 'none;'}`">
    <div class="modal-menu-content">
        <!-- <template v-show="!hasHeaderSlot">
          <div :class="'modal-header-multiple-' + size">
            <h5 style="font-size: 16px;padding-top: 5px; color: #2D9CDB; font-weight: bold;">
              <slot name="headerTitle"></slot>
            </h5>
            <span @click="_hide" class="close-multiple">&times;</span>
          </div>
        </template> -->

        <slot name="header"></slot>

        <div style="margin: 40px 10px; background: #FFFFFF;
                  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
                  border-radius: 18px 18px 27px 18px; padding: 30px 20px;">
          <slot name="content"></slot>
        </div>

    </div>
  </div>
</template>

<script>
export default {
  name: "Popup",
  props: {
    id: String,
    size: { type: String, default: "md" },
    okOnly: { type: Boolean, default: false },
    saveOnly: { type: Boolean, default: false },
    okCancel: { type: Boolean, default: false },
    yesNo: { type: Boolean, default: false },
    saveCancel: { type: Boolean, default: false },
    customButton: { type: Boolean, default: false }
  },
  data() {
    return {
      isShow: false
    };
  },
  computed: {
    hasHeaderSlot() {
      return !!this.$slots["header"];
    },
    hasHeaderDefaultSlot() {
      return !!this.$slots["headerDefault"];
    },
    hasHeaderDefault2Slot() {
      return !!this.$slots["headerDefault2"];
    },
    hasHeaderTitleSlot() {
      return !!this.$slots["headerTitle"];
    },
    hasHeaderCloseSlot() {
      return !!this.$slots["headerClose"];
    },
    hasContentSlot() {
      return !!this.$slots["content"];
    },
    hasContentDefaultSlot() {
      return !!this.$slots["contentDefault"];
    },
    hasFooterSlot() {
      return !!this.$slots["footer"];
    },
    hasOkOnlySlot() {
      return !!this.$slots["okOnly"];
    },
    hasSaveOnlySlot() {
      return !!this.$slots["saveOnly"];
    }
  },
  methods: {
    _show() {
      this.isShow = true;
    },
    _hide() {
      this.isShow = false;
      this.$emit("modalCancelClicked");
    },
    onOkClicked() {
      this.$emit("modalOkClicked");
    },
    onCancelClicked() {
      this._hide();

      this.$emit("modalCancelClicked");
    }
  },
  watch: {},
  created: function() {},
  mounted: function() {
  }
};
</script>

<style scoped>
.modal-menu {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.3);
}

.modal-menu-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* padding: 20px; */
  width: 95%;
}
</style>